/******************************************************************
Theme Name: Bonebox Base
Theme URI: http://www.mrgray.com;
Description: This theme was built using a couple of base themes: the <a href="https://github.com/eddiemachado/bones/issues" title="Bones Starter Theme">Bones Development Theme</a> and the <a href="https://getwid.getmotopress.com" title="Getwid Theme Homepage">Getwid Theme</a>.
Author: Benjamin Gray
Author URI: http://www.mrgray.com;
Version: 1.1
Tags: fluid-layout, responsive-layout, accessibility-ready, translation-ready, microformats, rtl-language-support

Bones License: WTFPL
License URI: http://sam.zoy.org/wtfpl/

Getwid License: GNU General Public License v2 or later;
License URI: http://www.gnu.org/licenses/gpl-2.0.html

MAKE SURE TO READ BELOW BEFORE GETTING STARTED FOR THE FIRST TIME!
------------------------------------------------------------------

You may be thinking…

WHOA, WHOA, WHOA…WHAT HAPPENED HERE?

But before you freak out, let me explain.

This theme is built on SCSS, so all the styles are in the library, in the style.scss file.
Well not actually. That file imports all the separate, well-named partial files.


******************************************************************/

/*
WordPress Probz
So Theme Check (http://wordpress.org/plugins/theme-check/)
is constantly telling me that it needs these classes in the CSS even
though they are in the REAL stylesheet in library/css/style.css.
So we're gonna drop these here to keep it happy.
Great work, Theme Check (eye roll)
*/

.sticky {}          /* DO NOT EDIT THIS */
.gallery-caption {} /* THESE ARE USELESS */
.bypostauthor {}    /* THEY ARE ONLY TO KEEP THEME CHECK HAPPY */
