/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/

// font stacks
$sans-serif:        "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             'Dobra Slab Light', 'Zilla Slab', "Roboto Slab", "Georgia", Cambria, "Times New Roman", Times, serif;
$headline_font:     "gineso", $sans-serif;


/*
Ligatures and Hyphenation
*/
p {
  // Word Breaks
  /*-ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;*/

  // cleaning up the ragged lines and breaks
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;

  // sets a minimum number of characters before and after the break
    /*
    -webkit-hyphenate-before: 2;
    -webkit-hyphenate-after: 3;
    hyphenate-lines: 3;
    */

  // enabling fancy ligatures when available
    /*
    -webkit-font-feature-settings: "liga", "dlig";
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    */
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #7b838b;
  font-family: "PT Serif", serif;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.75;
  letter-spacing: .7px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
  clear: both;
  margin-top: 1.5em;
  margin-bottom: .5em;
  color: #2c3847;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: -.7px;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 48px;
  font-size: 3rem;
}

h2 {
  font-size: 38px;
  font-size: 2.375rem;
}

h3 {
  font-size: 29px;
  font-size: 1.8125rem;
}

h4 {
  font-size: 24px;
  font-size: 1.5rem;
}

h5 {
  font-size: 22px;
  font-size: 1.375rem;
}

h6 {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
}

p {
  margin: 0 0 1.5em;
}

p:last-child {
  margin-bottom: 0;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5rem;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}