@charset "UTF-8";
.hidden {
  display: none;
}

p.has-drop-cap:not(:focus):first-letter {
  font-size: 6.5em;
}

.contact-form .grunion-field-wrap input[type=text],
.contact-form .grunion-field-wrap input[type=email],
.contact-form .grunion-field-wrap input[type=url],
.contact-form .grunion-field-wrap textarea {
  width: 100%;
  max-width: 100%;
  margin-right: 0;
}

.contact-form .grunion-field-wrap label {
  margin-bottom: 1em;
  font-weight: normal;
}

.contact-form .grunion-field-wrap label span {
  color: inherit;
}

.contact-form .contact-submit {
  margin-top: 2.5rem;
}

.wp-block-image img {
  display: block;
}

.wp-block-image:first-child figure {
  margin-top: 0;
}

.wp-block-image:first-child figure.alignleft, .wp-block-image:first-child figure.alignright {
  margin-top: 0;
}

.wp-block-image:last-child figure {
  margin-bottom: 0;
}

.wp-block-image:last-child figure.alignleft, .wp-block-image:last-child figure.alignright {
  margin-bottom: 0;
}

.wp-block-image figure {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}

.wp-block-image figure.alignleft {
  margin: 1.875rem 2.5rem 1.5rem 0;
}

.wp-block-image figure.alignright {
  margin: 1.875rem 0 1.5rem 2.5rem;
}

.wp-block-image figcaption {
  font-size: 15px;
  font-size: 0.9375rem;
  color: #9ea6ac;
  font-style: italic;
  margin: 0.875em 0 0 0;
}

figure.wp-block-image {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}

figure.wp-block-image:first-child {
  margin-top: 0;
}

figure.wp-block-image:last-child {
  margin-bottom: 0;
}

.wp-block-button .wp-block-button__link {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 10px;
  background: #8f4ec7;
  color: #fff;
  line-height: 1;
  padding: 1.367em 2.5em;
}

.wp-block-button .wp-block-button__link:hover {
  cursor: pointer;
  background: #68c5f9;
  text-decoration: none;
  color: #fff;
}

.wp-block-button .wp-block-button__link.has-background.has-blue-background-color:hover {
  background: #8f4ec7;
}

.wp-block-button.is-style-outline {
  color: #8f4ec7;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
  background: #68c5f9;
  color: #fff;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover:not(.has-background) {
  background: transparent;
  color: #68c5f9;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: inherit;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background) {
  background: transparent;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background).has-text-color.has-blue-color:hover {
  color: #8f4ec7;
}

.wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0;
}

.wp-block-file .wp-block-file__button {
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 10px;
  background: #8f4ec7;
  color: #fff;
  line-height: 1;
  padding: 1.5em 2.5em;
}

.wp-block-file .wp-block-file__button:hover {
  cursor: pointer;
  background: #68c5f9;
  text-decoration: none;
}

.wp-block-columns.align-center .wp-block-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wp-block-columns.align-bottom .wp-block-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .wp-block-columns {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
.wp-block-column {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2.5em;
}

@media (min-width: 768px) {
  .wp-block-column {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}
@media all and (min-width: 768px) and (-ms-high-contrast: none), (min-width: 768px) and (-ms-high-contrast: active) {
  .wp-block-column {
    -webkit-box-flex: 1;
    -ms-flex: 1 0;
    flex: 1 0;
  }
}
.wp-block-column:nth-child(odd) {
  margin-right: 0;
}

.wp-block-column:not(:first-child), .wp-block-column:nth-child(2n) {
  margin-left: 0;
}

@media (min-width: 768px) {
  .wp-block-column:not(:first-child), .wp-block-column:nth-child(2n) {
    margin-left: 20px;
  }
}
.wp-block-column:not(:last-child) {
  margin-right: 0;
}

@media (min-width: 768px) {
  .wp-block-column:not(:last-child) {
    margin-right: 20px;
  }
}
.wp-block-column > * {
  margin-bottom: 2em;
}

.wp-block-column > *:last-child {
  margin-bottom: 0;
}

.wp-block-cover.alignleft,
.wp-block-cover.alignright {
  max-width: 400px;
}

.wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
  margin: 0 11px 11px 0;
}

.wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
  width: calc((100% - 11px) / 2);
}

.wp-block-gallery {
  padding: 0;
  width: 100%;
}

.wp-block-gallery.columns-1 .blocks-gallery-image,
.wp-block-gallery.columns-1 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-1 .blocks-gallery-image,
.wp-block-gallery.columns-1 .blocks-gallery-item {
    width: calc((100% - 11px) / 1);
    margin-right: 11px;
  }
}
.wp-block-gallery.columns-1 .blocks-gallery-image:nth-of-type(1n),
.wp-block-gallery.columns-1 .blocks-gallery-item:nth-of-type(1n) {
  margin-right: 0;
}

.wp-block-gallery.columns-2 .blocks-gallery-image,
.wp-block-gallery.columns-2 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-2 .blocks-gallery-image,
.wp-block-gallery.columns-2 .blocks-gallery-item {
    width: calc((100% - 22px) / 2);
    margin-right: 11px;
  }
}
.wp-block-gallery.columns-2 .blocks-gallery-image:nth-of-type(2n),
.wp-block-gallery.columns-2 .blocks-gallery-item:nth-of-type(2n) {
  margin-right: 0;
}

.wp-block-gallery.columns-3 .blocks-gallery-image,
.wp-block-gallery.columns-3 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-3 .blocks-gallery-image,
.wp-block-gallery.columns-3 .blocks-gallery-item {
    width: calc((100% - 33px) / 3);
    margin-right: 11px;
  }
}
.wp-block-gallery.columns-3 .blocks-gallery-image:nth-of-type(3n),
.wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n) {
  margin-right: 0;
}

.wp-block-gallery.columns-4 .blocks-gallery-image,
.wp-block-gallery.columns-4 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-4 .blocks-gallery-image,
.wp-block-gallery.columns-4 .blocks-gallery-item {
    width: calc((100% - 44px) / 4);
    margin-right: 11px;
  }
}
.wp-block-gallery.columns-4 .blocks-gallery-image:nth-of-type(4n),
.wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n) {
  margin-right: 0;
}

.wp-block-gallery.columns-5 .blocks-gallery-image,
.wp-block-gallery.columns-5 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-5 .blocks-gallery-image,
.wp-block-gallery.columns-5 .blocks-gallery-item {
    width: calc((100% - 55px) / 5);
    margin-right: 11px;
  }
}
.wp-block-gallery.columns-5 .blocks-gallery-image:nth-of-type(5n),
.wp-block-gallery.columns-5 .blocks-gallery-item:nth-of-type(5n) {
  margin-right: 0;
}

.wp-block-gallery.columns-6 .blocks-gallery-image,
.wp-block-gallery.columns-6 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-6 .blocks-gallery-image,
.wp-block-gallery.columns-6 .blocks-gallery-item {
    width: calc((100% - 66px) / 6);
    margin-right: 11px;
  }
}
.wp-block-gallery.columns-6 .blocks-gallery-image:nth-of-type(6n),
.wp-block-gallery.columns-6 .blocks-gallery-item:nth-of-type(6n) {
  margin-right: 0;
}

.wp-block-gallery.columns-7 .blocks-gallery-image,
.wp-block-gallery.columns-7 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-7 .blocks-gallery-image,
.wp-block-gallery.columns-7 .blocks-gallery-item {
    width: calc((100% - 77px) / 7);
    margin-right: 11px;
  }
}
.wp-block-gallery.columns-7 .blocks-gallery-image:nth-of-type(7n),
.wp-block-gallery.columns-7 .blocks-gallery-item:nth-of-type(7n) {
  margin-right: 0;
}

.wp-block-gallery.columns-8 .blocks-gallery-image,
.wp-block-gallery.columns-8 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-8 .blocks-gallery-image,
.wp-block-gallery.columns-8 .blocks-gallery-item {
    width: calc((100% - 88px) / 8);
    margin-right: 11px;
  }
}
.wp-block-gallery.columns-8 .blocks-gallery-image:nth-of-type(8n),
.wp-block-gallery.columns-8 .blocks-gallery-item:nth-of-type(8n) {
  margin-right: 0;
}

.wp-block-gallery.columns-9 .blocks-gallery-image,
.wp-block-gallery.columns-9 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-9 .blocks-gallery-image,
.wp-block-gallery.columns-9 .blocks-gallery-item {
    width: calc((100% - 99px) / 9);
    margin-right: 11px;
  }
}
.wp-block-gallery.columns-9 .blocks-gallery-image:nth-of-type(9n),
.wp-block-gallery.columns-9 .blocks-gallery-item:nth-of-type(9n) {
  margin-right: 0;
}

.wp-block-gallery.columns-10 .blocks-gallery-image,
.wp-block-gallery.columns-10 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-10 .blocks-gallery-image,
.wp-block-gallery.columns-10 .blocks-gallery-item {
    width: calc((100% - 110px) / 10);
    margin-right: 11px;
  }
}
.wp-block-gallery.columns-10 .blocks-gallery-image:nth-of-type(10n),
.wp-block-gallery.columns-10 .blocks-gallery-item:nth-of-type(10n) {
  margin-right: 0;
}

.wp-block-gallery.columns-11 .blocks-gallery-image,
.wp-block-gallery.columns-11 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-11 .blocks-gallery-image,
.wp-block-gallery.columns-11 .blocks-gallery-item {
    width: calc((100% - 121px) / 11);
    margin-right: 11px;
  }
}
.wp-block-gallery.columns-11 .blocks-gallery-image:nth-of-type(11n),
.wp-block-gallery.columns-11 .blocks-gallery-item:nth-of-type(11n) {
  margin-right: 0;
}

.wp-block-gallery.columns-12 .blocks-gallery-image,
.wp-block-gallery.columns-12 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-12 .blocks-gallery-image,
.wp-block-gallery.columns-12 .blocks-gallery-item {
    width: calc((100% - 132px) / 12);
    margin-right: 11px;
  }
}
.wp-block-gallery.columns-12 .blocks-gallery-image:nth-of-type(12n),
.wp-block-gallery.columns-12 .blocks-gallery-item:nth-of-type(12n) {
  margin-right: 0;
}

.wp-block-gallery .blocks-gallery-image:last-child, .wp-block-gallery .blocks-gallery-item:last-child {
  margin-right: 0;
}

.wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption {
  font-style: italic;
  font-size: 15px;
  font-size: 0.9375rem;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .wp-block-gallery .blocks-gallery-item figure {
    height: auto;
  }
}
.wp-block-quote,
.wp-block-quote.is-style-large {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 20px;
  font-size: 1.25rem;
  color: #2c3847;
  padding-left: 4.5rem;
  position: relative;
  font-style: italic;
}

.wp-block-quote:before,
.wp-block-quote.is-style-large:before {
  content: "“";
  font-size: 100px;
  font-size: 6.25rem;
  font-style: italic;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
}

.wp-block-quote p:last-of-type,
.wp-block-quote.is-style-large p:last-of-type {
  margin-bottom: 0;
}

.wp-block-quote cite,
.wp-block-quote .wp-block-quote__citation,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large .wp-block-quote__citation {
  margin-top: 1.5rem;
  font-size: 16px;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  color: #9ea6ac;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  display: inline-block;
}

.wp-block-pullquote {
  border-top: 2px solid #dbdee1;
  border-bottom: 2px solid #dbdee1;
  padding: 3.75rem 0;
  color: #2c3847;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: left;
}

.wp-block-pullquote blockquote {
  margin: 0;
}

.wp-block-pullquote p {
  font-size: inherit;
}

.wp-block-pullquote p:last-of-type {
  margin-bottom: 0;
}

.wp-block-pullquote.alignfull blockquote {
  margin: 0 1.5rem;
}

.wp-block-pullquote cite,
.wp-block-pullquote .wp-block-pullquote__citation {
  margin-top: 1.5rem;
  font-size: 16px;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  color: #9ea6ac;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  display: inline-block;
}

.wp-block-pullquote.is-style-solid-color {
  padding: 3.75rem;
  border: 0;
}

.wp-block-pullquote.is-style-solid-color blockquote {
  max-width: 100%;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
  font-size: inherit;
}

.wp-block-pullquote.is-style-solid-color blockquote cite,
.wp-block-pullquote.is-style-solid-color blockquote .wp-block-pullquote__citation {
  text-transform: uppercase;
  color: inherit;
}

p.has-background {
  padding: 3.75rem;
}

.wp-block-separator {
  background: #f3f9fd;
  color: #f3f9fd;
  height: 2px;
}

.wp-block-separator.is-style-dots {
  height: auto;
  background: transparent;
  border-bottom: 8px dotted currentColor;
}

.wp-block-separator.is-style-dots:not(.has-background) {
  border-bottom: 8px dotted #f1f4f7;
}

.wp-block-separator.is-style-dots:before {
  display: none;
}

.wp-block-separator:not(.is-style-dots):not(.is-style-wide) {
  max-width: 300px;
}

.entry-content .has-primary-color {
  color: #8f4ec7;
}

.entry-content .has-primary-background-color {
  background-color: #8f4ec7;
}

.entry-content .has-light-blue-color {
  color: #f3f8fb;
}

.entry-content .has-light-blue-background-color {
  background-color: #f3f8fb;
}

.entry-content .has-blue-color {
  color: #68c5f9;
}

.entry-content .has-blue-background-color {
  background-color: #68c5f9;
}

.entry-content .has-gray-color {
  color: #9ea6ac;
}

.entry-content .has-gray-background-color {
  background-color: #9ea6ac;
}

.entry-content .has-light-gray-color {
  color: #f3f9fd;
}

.entry-content .has-light-gray-background-color {
  background-color: #f3f9fd;
}

.entry-content .has-dark-blue-color {
  color: #2c3847;
}

.entry-content .has-dark-blue-background-color {
  background-color: #2c3847;
}

.entry-content .has-light-violet-color {
  color: #f6eefc;
}

.entry-content .has-light-violet-background-color {
  background-color: #f6eefc;
}

.wp-block-getwid-images-slider:after,
.wp-block-getwid-media-text-slider:after,
.wp-block-getwid-post-slider:after,
.wp-block-getwid-post-carousel:after {
  content: "";
  display: table;
  clear: both;
}

.wp-block-getwid-images-slider .slick-prev,
.wp-block-getwid-images-slider .slick-next,
.wp-block-getwid-media-text-slider .slick-prev,
.wp-block-getwid-media-text-slider .slick-next,
.wp-block-getwid-post-slider .slick-prev,
.wp-block-getwid-post-slider .slick-next,
.wp-block-getwid-post-carousel .slick-prev,
.wp-block-getwid-post-carousel .slick-next {
  overflow: hidden;
  z-index: 1;
  text-shadow: none;
  width: 63px;
  height: 63px;
  background: rgba(242, 249, 253, 0.2);
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.wp-block-getwid-images-slider .slick-prev:before,
.wp-block-getwid-images-slider .slick-next:before,
.wp-block-getwid-media-text-slider .slick-prev:before,
.wp-block-getwid-media-text-slider .slick-next:before,
.wp-block-getwid-post-slider .slick-prev:before,
.wp-block-getwid-post-slider .slick-next:before,
.wp-block-getwid-post-carousel .slick-prev:before,
.wp-block-getwid-post-carousel .slick-next:before {
  color: #2c3847;
  font-family: Linearicons-Free;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  font-size: 24px;
  font-size: 1.5rem;
}

.wp-block-getwid-images-slider .slick-prev:hover,
.wp-block-getwid-images-slider .slick-next:hover,
.wp-block-getwid-media-text-slider .slick-prev:hover,
.wp-block-getwid-media-text-slider .slick-next:hover,
.wp-block-getwid-post-slider .slick-prev:hover,
.wp-block-getwid-post-slider .slick-next:hover,
.wp-block-getwid-post-carousel .slick-prev:hover,
.wp-block-getwid-post-carousel .slick-next:hover {
  background: #f2f9fd;
}

.wp-block-getwid-images-slider .slick-next,
.wp-block-getwid-media-text-slider .slick-next,
.wp-block-getwid-post-slider .slick-next,
.wp-block-getwid-post-carousel .slick-next {
  right: -20px;
}

@media (min-width: 768px) {
  .wp-block-getwid-images-slider .slick-next,
.wp-block-getwid-media-text-slider .slick-next,
.wp-block-getwid-post-slider .slick-next,
.wp-block-getwid-post-carousel .slick-next {
    right: -90px;
  }
}
.wp-block-getwid-images-slider .slick-next:before,
.wp-block-getwid-media-text-slider .slick-next:before,
.wp-block-getwid-post-slider .slick-next:before,
.wp-block-getwid-post-carousel .slick-next:before {
  content: "";
  -webkit-transform: translateX(-40%) translateY(-50%);
  -ms-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
}

.wp-block-getwid-images-slider .slick-prev,
.wp-block-getwid-media-text-slider .slick-prev,
.wp-block-getwid-post-slider .slick-prev,
.wp-block-getwid-post-carousel .slick-prev {
  left: -20px;
}

@media (min-width: 768px) {
  .wp-block-getwid-images-slider .slick-prev,
.wp-block-getwid-media-text-slider .slick-prev,
.wp-block-getwid-post-slider .slick-prev,
.wp-block-getwid-post-carousel .slick-prev {
    left: -90px;
  }
}
.wp-block-getwid-images-slider .slick-prev:before,
.wp-block-getwid-media-text-slider .slick-prev:before,
.wp-block-getwid-post-slider .slick-prev:before,
.wp-block-getwid-post-carousel .slick-prev:before {
  -webkit-transform: translateX(-60%) translateY(-50%);
  -ms-transform: translateX(-60%) translateY(-50%);
  transform: translateX(-60%) translateY(-50%);
  content: "";
}

.wp-block-getwid-images-slider .slick-dots,
.wp-block-getwid-media-text-slider .slick-dots,
.wp-block-getwid-post-slider .slick-dots,
.wp-block-getwid-post-carousel .slick-dots {
  bottom: 0;
}

.wp-block-getwid-images-slider .slick-dots li,
.wp-block-getwid-media-text-slider .slick-dots li,
.wp-block-getwid-post-slider .slick-dots li,
.wp-block-getwid-post-carousel .slick-dots li {
  margin: 0;
}

.wp-block-getwid-images-slider .slick-dots li.slick-active button:before,
.wp-block-getwid-media-text-slider .slick-dots li.slick-active button:before,
.wp-block-getwid-post-slider .slick-dots li.slick-active button:before,
.wp-block-getwid-post-carousel .slick-dots li.slick-active button:before {
  color: #8f4ec7;
}

.wp-block-getwid-images-slider .slick-dots li button,
.wp-block-getwid-media-text-slider .slick-dots li button,
.wp-block-getwid-post-slider .slick-dots li button,
.wp-block-getwid-post-carousel .slick-dots li button {
  padding: 7px;
  text-shadow: none;
}

.wp-block-getwid-images-slider .slick-dots li button:before,
.wp-block-getwid-media-text-slider .slick-dots li button:before,
.wp-block-getwid-post-slider .slick-dots li button:before,
.wp-block-getwid-post-carousel .slick-dots li button:before {
  font-size: 10px;
  color: #ced2d5;
  opacity: 1;
}

.wp-block-getwid-images-slider .slick-dotted.slick-slider,
.wp-block-getwid-media-text-slider .slick-dotted.slick-slider,
.wp-block-getwid-post-slider .slick-dotted.slick-slider,
.wp-block-getwid-post-carousel .slick-dotted.slick-slider {
  margin-bottom: 60px;
  padding-bottom: 0;
}

.wp-block-getwid-images-slider .slick-dotted.slick-slider .slick-dots,
.wp-block-getwid-media-text-slider .slick-dotted.slick-slider .slick-dots,
.wp-block-getwid-post-slider .slick-dotted.slick-slider .slick-dots,
.wp-block-getwid-post-carousel .slick-dotted.slick-slider .slick-dots {
  bottom: -50px;
}

.wp-block-getwid-images-slider.has-dots-inside .wp-block-getwid-images-slider__wrapper,
.wp-block-getwid-media-text-slider.has-dots-inside .wp-block-getwid-images-slider__wrapper,
.wp-block-getwid-post-slider.has-dots-inside .wp-block-getwid-images-slider__wrapper,
.wp-block-getwid-post-carousel.has-dots-inside .wp-block-getwid-images-slider__wrapper {
  padding-bottom: 0;
}

.wp-block-getwid-images-slider.has-dots-inside .slick-dotted.slick-slider,
.wp-block-getwid-media-text-slider.has-dots-inside .slick-dotted.slick-slider,
.wp-block-getwid-post-slider.has-dots-inside .slick-dotted.slick-slider,
.wp-block-getwid-post-carousel.has-dots-inside .slick-dotted.slick-slider {
  margin-bottom: 0;
  padding-bottom: 0;
}

.wp-block-getwid-images-slider.has-dots-inside .slick-dotted.slick-slider .slick-dots,
.wp-block-getwid-media-text-slider.has-dots-inside .slick-dotted.slick-slider .slick-dots,
.wp-block-getwid-post-slider.has-dots-inside .slick-dotted.slick-slider .slick-dots,
.wp-block-getwid-post-carousel.has-dots-inside .slick-dotted.slick-slider .slick-dots {
  bottom: 30px;
}

.wp-block-getwid-images-slider.has-dots-inside .slick-dotted.slick-slider .slick-dots li button,
.wp-block-getwid-media-text-slider.has-dots-inside .slick-dotted.slick-slider .slick-dots li button,
.wp-block-getwid-post-slider.has-dots-inside .slick-dotted.slick-slider .slick-dots li button,
.wp-block-getwid-post-carousel.has-dots-inside .slick-dotted.slick-slider .slick-dots li button {
  text-shadow: none;
}

.wp-block-getwid-images-slider.has-dots-inside .slick-dotted.slick-slider .slick-dots li button:before,
.wp-block-getwid-media-text-slider.has-dots-inside .slick-dotted.slick-slider .slick-dots li button:before,
.wp-block-getwid-post-slider.has-dots-inside .slick-dotted.slick-slider .slick-dots li button:before,
.wp-block-getwid-post-carousel.has-dots-inside .slick-dotted.slick-slider .slick-dots li button:before {
  color: #ced2d5;
}

.wp-block-getwid-images-slider.has-dots-inside .slick-dotted.slick-slider .slick-dots li.slick-active button:before,
.wp-block-getwid-media-text-slider.has-dots-inside .slick-dotted.slick-slider .slick-dots li.slick-active button:before,
.wp-block-getwid-post-slider.has-dots-inside .slick-dotted.slick-slider .slick-dots li.slick-active button:before,
.wp-block-getwid-post-carousel.has-dots-inside .slick-dotted.slick-slider .slick-dots li.slick-active button:before {
  color: #8f4ec7;
}

.wp-block-getwid-images-slider.has-arrows-inside .slick-prev,
.wp-block-getwid-images-slider.has-arrows-inside .slick-next,
.wp-block-getwid-media-text-slider.has-arrows-inside .slick-prev,
.wp-block-getwid-media-text-slider.has-arrows-inside .slick-next,
.wp-block-getwid-post-slider.has-arrows-inside .slick-prev,
.wp-block-getwid-post-slider.has-arrows-inside .slick-next,
.wp-block-getwid-post-carousel.has-arrows-inside .slick-prev,
.wp-block-getwid-post-carousel.has-arrows-inside .slick-next {
  text-shadow: none;
}

.wp-block-getwid-images-slider.has-arrows-inside .slick-prev:before,
.wp-block-getwid-images-slider.has-arrows-inside .slick-next:before,
.wp-block-getwid-media-text-slider.has-arrows-inside .slick-prev:before,
.wp-block-getwid-media-text-slider.has-arrows-inside .slick-next:before,
.wp-block-getwid-post-slider.has-arrows-inside .slick-prev:before,
.wp-block-getwid-post-slider.has-arrows-inside .slick-next:before,
.wp-block-getwid-post-carousel.has-arrows-inside .slick-prev:before,
.wp-block-getwid-post-carousel.has-arrows-inside .slick-next:before {
  color: #2c3847;
}

.wp-block-getwid-images-slider.has-arrows-inside .slick-next,
.wp-block-getwid-media-text-slider.has-arrows-inside .slick-next,
.wp-block-getwid-post-slider.has-arrows-inside .slick-next,
.wp-block-getwid-post-carousel.has-arrows-inside .slick-next {
  right: 20px;
}

.wp-block-getwid-images-slider.has-arrows-inside .slick-prev,
.wp-block-getwid-media-text-slider.has-arrows-inside .slick-prev,
.wp-block-getwid-post-slider.has-arrows-inside .slick-prev,
.wp-block-getwid-post-carousel.has-arrows-inside .slick-prev {
  left: 20px;
}

.wp-block-getwid-images-slider.alignfull .slick-next,
.wp-block-getwid-media-text-slider.alignfull .slick-next,
.wp-block-getwid-post-slider.alignfull .slick-next,
.wp-block-getwid-post-carousel.alignfull .slick-next {
  right: 20px;
}

.wp-block-getwid-images-slider.alignfull .slick-prev,
.wp-block-getwid-media-text-slider.alignfull .slick-prev,
.wp-block-getwid-post-slider.alignfull .slick-prev,
.wp-block-getwid-post-carousel.alignfull .slick-prev {
  left: 20px;
}

.getwid-columns {
  margin-left: -11px;
  margin-right: -11px;
}

.getwid-columns.getwid-columns-1 > * {
  padding-left: 11px;
  padding-right: 11px;
}

.getwid-columns.getwid-columns-2 > * {
  padding-left: 11px;
  padding-right: 11px;
}

.getwid-columns.getwid-columns-3 > * {
  padding-left: 11px;
  padding-right: 11px;
}

.getwid-columns.getwid-columns-4 > * {
  padding-left: 11px;
  padding-right: 11px;
}

.getwid-columns.getwid-columns-5 > * {
  padding-left: 11px;
  padding-right: 11px;
}

.getwid-columns.getwid-columns-6 > * {
  padding-left: 11px;
  padding-right: 11px;
}

.getwid-columns.getwid-columns-7 > * {
  padding-left: 11px;
  padding-right: 11px;
}

.getwid-columns.getwid-columns-8 > * {
  padding-left: 11px;
  padding-right: 11px;
}

.getwid-columns.getwid-columns-9 > * {
  padding-left: 11px;
  padding-right: 11px;
}

.getwid-columns.getwid-columns-10 > * {
  padding-left: 11px;
  padding-right: 11px;
}

.getwid-columns.getwid-columns-11 > * {
  padding-left: 11px;
  padding-right: 11px;
}

.getwid-columns.getwid-columns-12 > * {
  padding-left: 11px;
  padding-right: 11px;
}

.wp-block-getwid-accordion {
  background: #fff;
}

.wp-block-getwid-accordion .wp-block-getwid-accordion__header {
  padding: 1em 1.25em;
}

.wp-block-getwid-accordion .wp-block-getwid-accordion__header a {
  color: inherit;
}

.wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper {
  margin-bottom: -2px;
  border: 2px solid #ebeef1;
}

.wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper:first-child {
  border: 2px solid #ebeef1;
}

.wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper.ui-state-active .wp-block-getwid-accordion__icon,
.wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper.ui-state-active a, .wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper:hover .wp-block-getwid-accordion__icon,
.wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper:hover a {
  color: #8f4ec7;
}

.wp-block-getwid-accordion .wp-block-getwid-accordion__icon {
  color: inherit;
}

.wp-block-getwid-accordion .wp-block-getwid-accordion__content {
  margin-top: 2px;
  border: 0;
}

.wp-block-getwid-image-box .wp-block-getwid-image-box__image-container {
  margin: 0 0 30px 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .wp-block-getwid-image-box .wp-block-getwid-image-box__image-container {
    width: 100%;
  }

  .wp-block-getwid-image-box .wp-block-getwid-image-box__image-container .wp-block-getwid-image-box__image-wrapper {
    width: 100%;
  }
}
.wp-block-getwid-image-box .wp-block-getwid-image-box__content blockquote {
  margin-left: 0;
  margin-right: 0;
}

.wp-block-getwid-image-box.has-image-left .wp-block-getwid-image-box__image-container {
  margin: 0 40px 0 0;
}

.wp-block-getwid-image-box.has-image-right .wp-block-getwid-image-box__image-container {
  margin: 0 0 0 40px;
}

@media screen and (max-width: 767px) {
  .wp-block-getwid-image-box.has-mobile-layout-column .wp-block-getwid-image-box__image-container {
    margin: 0 0 40px 0;
  }
}
@media screen and (max-width: 767px) {
  .wp-block-getwid-image-box.has-mobile-layout-column-reverse .wp-block-getwid-image-box__image-container {
    margin: 40px 0 0 0;
  }
}
.wp-block-getwid-images-slider {
  padding-left: 0;
  padding-right: 0;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__wrapper.getwid-columns .wp-block-getwid-recent-posts__post {
  margin-bottom: 1.5em;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__post-wrapper {
  border: 2px solid #eaedef;
  background: #fff;
  height: 100%;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__post-thumbnail {
  position: relative;
  margin: 0;
  width: 100%;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__content-wrapper {
  margin: 0;
  padding: 3.125rem 2.5rem;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__content-wrapper {
    width: 100%;
  }
}
.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post h1.wp-block-getwid-recent-posts__post-title {
  font-size: 30px;
  font-size: 1.875rem;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post h2.wp-block-getwid-recent-posts__post-title {
  font-size: 27px;
  font-size: 1.6875rem;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post h3.wp-block-getwid-recent-posts__post-title {
  font-size: 24px;
  font-size: 1.5rem;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post h4.wp-block-getwid-recent-posts__post-title {
  font-size: 21px;
  font-size: 1.3125rem;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post h5.wp-block-getwid-recent-posts__post-title {
  font-size: 18px;
  font-size: 1.125rem;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__post-title:last-child {
  margin-bottom: 0;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__post-title a {
  color: inherit;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__post-title a:hover {
  text-decoration: none;
  color: #8f4ec7;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__post-title a:focus, .wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__post-title a:active {
  text-decoration: none;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__entry-header:last-child {
  margin-bottom: 0;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__entry-footer {
  font-style: italic;
  font-size: 15px;
  font-size: 0.9375rem;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__entry-footer > span:after {
  content: "/";
  margin: 0 0.5em;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__entry-footer > span:last-child:after {
  display: none;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__entry-footer .wp-block-getwid-recent-posts__post-tags a {
  padding: 0;
  margin: 0;
  background: transparent;
  color: #8f4ec7;
  font-weight: 400;
  font-family: "PT Serif", serif;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__entry-footer .wp-block-getwid-recent-posts__post-tags a:hover {
  text-decoration: underline;
}

.wp-block-getwid-recent-posts.has-layout-list .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__post-thumbnail {
  height: auto;
}

.wp-block-getwid-recent-posts.has-layout-list .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__post-thumbnail a {
  height: 100%;
}

.wp-block-getwid-recent-posts.has-layout-list .wp-block-getwid-recent-posts__post .wp-block-getwid-recent-posts__post-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.wp-block-getwid-recent-posts.has-layout-list .wp-block-getwid-recent-posts__post-wrapper {
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
}

.wp-block-getwid-recent-posts.has-layout-list .wp-block-getwid-recent-posts__post + .wp-block-getwid-recent-posts__post {
  margin-top: 1.25rem;
}

.wp-block-getwid-toggle {
  background: #fff;
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__row {
  margin-top: -2px;
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__row:first-child {
  margin-top: 0;
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__row:first-child .wp-block-getwid-toggle__header-wrapper {
  border-top: 2px solid #ebeef1;
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__row .wp-block-getwid-toggle__header {
  padding: 1em 1.25em;
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__row .wp-block-getwid-toggle__header a {
  color: inherit;
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__row .wp-block-getwid-toggle__header-wrapper {
  border: 2px solid #ebeef1;
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__row .wp-block-getwid-toggle__header:hover a,
.wp-block-getwid-toggle .wp-block-getwid-toggle__row .wp-block-getwid-toggle__header:hover .wp-block-getwid-toggle__icon {
  color: #8f4ec7;
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__row .wp-block-getwid-toggle__icon {
  color: inherit;
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__row .wp-block-getwid-toggle__content {
  border: 0;
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__row.is-active .wp-block-getwid-toggle__header a {
  color: #8f4ec7;
}

.wp-block-getwid-tabs .wp-block-getwid-tabs__nav-links {
  margin: 0 0 -2px 0;
}

.wp-block-getwid-tabs .wp-block-getwid-tabs__nav-links .wp-block-getwid-tabs__nav-link {
  border: 2px solid #ebeef1;
  margin: 0 -2px 0 0;
}

.wp-block-getwid-tabs .wp-block-getwid-tabs__nav-links .wp-block-getwid-tabs__nav-link:last-child {
  margin-right: 0;
}

.wp-block-getwid-tabs .wp-block-getwid-tabs__nav-links .wp-block-getwid-tabs__nav-link.ui-tabs-active {
  border-color: #ebeef1;
  background: #fff;
}

.wp-block-getwid-tabs .wp-block-getwid-tabs__nav-links .wp-block-getwid-tabs__nav-link.ui-tabs-active a {
  color: #8f4ec7;
}

.wp-block-getwid-tabs .wp-block-getwid-tabs__nav-links .wp-block-getwid-tabs__nav-link a {
  color: #2c3847;
  padding: 15px 50px;
}

.wp-block-getwid-tabs .wp-block-getwid-tabs__nav-links .wp-block-getwid-tabs__nav-link:hover a {
  color: #8f4ec7;
}

.wp-block-getwid-tabs .wp-block-getwid-tabs__tab-content {
  border: 2px solid #ebeef1;
  padding: 50px;
  background: #fff;
}

.wp-block-getwid-tabs.has-layout-vertical-left .wp-block-getwid-tabs__nav-links, .wp-block-getwid-tabs.has-layout-vertical-right .wp-block-getwid-tabs__nav-links, .wp-block-getwid-tabs.is-style-vertical .wp-block-getwid-tabs__nav-links {
  margin: 0 -2px 0 0;
}

.wp-block-getwid-tabs.has-layout-vertical-left .wp-block-getwid-tabs__nav-links .wp-block-getwid-tabs__nav-link, .wp-block-getwid-tabs.has-layout-vertical-right .wp-block-getwid-tabs__nav-links .wp-block-getwid-tabs__nav-link, .wp-block-getwid-tabs.is-style-vertical .wp-block-getwid-tabs__nav-links .wp-block-getwid-tabs__nav-link {
  margin: 0 0 -2px 0;
  border: 2px solid #ebeef1;
}

.wp-block-getwid-tabs.has-layout-vertical-left .wp-block-getwid-tabs__nav-links .wp-block-getwid-tabs__nav-link a, .wp-block-getwid-tabs.has-layout-vertical-right .wp-block-getwid-tabs__nav-links .wp-block-getwid-tabs__nav-link a, .wp-block-getwid-tabs.is-style-vertical .wp-block-getwid-tabs__nav-links .wp-block-getwid-tabs__nav-link a {
  padding-left: 20px;
  padding-right: 20px;
}

.wp-block-getwid-tabs.has-layout-vertical-right .wp-block-getwid-tabs__nav-links {
  margin: 0 0 0 -2px;
}

.wp-block-getwid-advanced-heading + h1,
.wp-block-getwid-advanced-heading + h2,
.wp-block-getwid-advanced-heading + h3,
.wp-block-getwid-advanced-heading + h4,
.wp-block-getwid-advanced-heading + h5,
.wp-block-getwid-advanced-heading + h6 {
  margin-top: 0.2em;
}

.wp-block-getwid-advanced-heading h1,
.wp-block-getwid-advanced-heading h2,
.wp-block-getwid-advanced-heading h3,
.wp-block-getwid-advanced-heading h4,
.wp-block-getwid-advanced-heading h5,
.wp-block-getwid-advanced-heading h6 {
  margin: 0;
}

h1 + .wp-block-getwid-advanced-heading,
h2 + .wp-block-getwid-advanced-heading,
h3 + .wp-block-getwid-advanced-heading,
h4 + .wp-block-getwid-advanced-heading,
h5 + .wp-block-getwid-advanced-heading,
h6 + .wp-block-getwid-advanced-heading {
  margin-top: 0.25em;
}

.wp-block-getwid-section .wp-block-getwid-section__inner-content blockquote {
  margin-left: 0;
  margin-right: 0;
}

.wp-block-getwid-testimonial {
  padding-top: 58px;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  border: 2px solid #ebeef1;
  background: #fff;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__content-wrapper + .wp-block-getwid-testimonial__header {
  margin-top: 0;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__image-wrapper + .wp-block-getwid-testimonial__heading {
  margin-left: 0;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__heading {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  margin-top: 2rem;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__title {
  font-size: 24px;
  font-size: 1.5rem;
  color: #2c3847;
  font-weight: 500;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__subtitle {
  font-size: 16px;
  font-size: 1rem;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__image-wrapper {
  max-width: 116px;
  margin-top: -60px;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__image img {
  border: 8px solid #fff;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__content-wrapper {
  text-align: center;
  padding: 1rem 3.125rem 3.125rem;
}

.wp-block-getwid-person .wp-block-getwid-person__image + .wp-block-getwid-person__content-wrapper {
  margin-top: 1.875rem;
}

.wp-block-getwid-person .wp-block-getwid-person__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wp-block-getwid-person .wp-block-getwid-person__content-wrapper .wp-block-getwid-social-links {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  margin: 0;
}

.wp-block-getwid-person .wp-block-getwid-person__content-wrapper .wp-block-getwid-social-links:not(:only-child) {
  margin-bottom: 1.25rem;
}

.wp-block-getwid-person .wp-block-getwid-person__content-wrapper .wp-block-getwid-person__title {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  font-family: "Work Sans", sans-serif;
  color: #2c3847;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.7px;
}

.wp-block-getwid-person .wp-block-getwid-person__content-wrapper .wp-block-getwid-person__subtitle {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  font-family: "Work Sans", sans-serif;
  font-size: 17px;
  font-size: 1.0625rem;
  letter-spacing: 0;
}

.wp-block-getwid-person .wp-block-getwid-person__content-wrapper .wp-block-getwid-person__content {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.wp-block-getwid-social-links {
  font-size: 18px;
  font-size: 1.125rem;
}

.wp-block-getwid-social-links .wp-block-getwid-social-links__wrapper {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wp-block-getwid-social-links .wp-block-getwid-social-links__link:hover .wp-block-getwid-social-links__wrapper {
  color: #68c5f9;
}

.wp-block-getwid-social-links .wp-block-getwid-social-links__link:hover .wp-block-getwid-social-links__wrapper.has-text-color.has-blue-color {
  color: #8f4ec7;
}

.wp-block-getwid-social-links.has-icons-stacked .wp-block-getwid-social-links__link .wp-block-getwid-social-links__wrapper {
  padding: 1em;
}

.wp-block-getwid-social-links.has-icons-stacked .wp-block-getwid-social-links__link:hover .wp-block-getwid-social-links__wrapper {
  color: #fff;
  background: #68c5f9;
}

.wp-block-getwid-social-links.has-icons-stacked .wp-block-getwid-social-links__link:hover .wp-block-getwid-social-links__wrapper.has-background.has-blue-background-color {
  background: #8f4ec7;
}

.wp-block-getwid-social-links.has-icons-framed .wp-block-getwid-social-links__link .wp-block-getwid-social-links__wrapper {
  padding: 1em;
  border-width: 2px;
}

.wp-block-getwid-social-links.has-icons-framed .wp-block-getwid-social-links__link:hover .wp-block-getwid-social-links__wrapper {
  color: #68c5f9;
}

.wp-block-getwid-media-text-slider .wp-block-getwid-media-text-slider-slide__content {
  padding: 80px 50px;
}

@media (min-width: 768px) {
  .wp-block-getwid-media-text-slider .wp-block-getwid-media-text-slider-slide__content {
    padding: 80px 125px;
  }
}
.wp-block-getwid-banner .wp-block-getwid-banner__title {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .wp-block-getwid-banner .wp-block-getwid-banner__caption-wrapper {
    width: 100%;
  }
}
.wp-block-getwid-icon-box {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media (min-width: 1030px) {
  .wp-block-getwid-icon-box {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
.wp-block-getwid-icon-box .wp-block-getwid-icon-box__icon-container {
  margin-bottom: 30px;
}

.wp-block-getwid-icon-box.has-icon-left .wp-block-getwid-icon-box__icon-container {
  margin: 0 30px 0 0;
}

.wp-block-getwid-icon-box.has-icon-right .wp-block-getwid-icon-box__icon-container {
  margin: 0 0 0 30px;
}

.wp-block-getwid-instagram.has-spacing-medium .wp-block-getwid-instagram__wrapper {
  margin: -10px;
}

.wp-block-getwid-instagram.has-spacing-medium .wp-block-getwid-instagram__item {
  padding: 10px;
}

.wp-block-getwid-progress-bar .wp-block-getwid-progress-bar__header {
  margin-bottom: 0.5em;
}

.wp-block-getwid-progress-bar .wp-block-getwid-progress-bar__percent {
  color: #2c3847;
}

.wp-block-getwid-progress-bar .wp-block-getwid-progress-bar__bar {
  height: 4px;
}

.wp-block-getwid-progress-bar .wp-block-getwid-progress-bar__bar:not(.has-background) {
  background-color: #ebeef1;
}

.wp-block-getwid-progress-bar .wp-block-getwid-progress-bar__progress:not(.has-text-color) {
  color: #8f4ec7;
}

.wp-block-getwid-price-box {
  border: 2px solid #edeef0;
  padding: 3.75rem 1.875rem;
}

.wp-block-getwid-price-box.has-text-color .wp-block-getwid-price-box__pricing {
  color: inherit;
}

.wp-block-getwid-price-box.has-text-color .wp-block-getwid-price-box__title {
  color: inherit;
}

.wp-block-getwid-price-box .wp-block-getwid-price-box__title {
  color: #2c3847;
  margin-bottom: 2.5rem;
  letter-spacing: normal;
}

.wp-block-getwid-price-box h6.wp-block-getwid-price-box__title {
  font-size: 16px;
  font-size: 1rem;
}

.wp-block-getwid-price-box .wp-block-getwid-price-box__pricing {
  color: #8f4ec7;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.wp-block-getwid-price-box .wp-block-getwid-price-box__pricing .wp-block-getwid-price-box__currency {
  font-size: 33px;
  font-size: 2.0625rem;
  vertical-align: baseline;
}

.wp-block-getwid-price-box .wp-block-getwid-price-box__pricing .wp-block-getwid-price-box__amount {
  font-size: 33px;
  font-size: 2.0625rem;
}

.wp-block-getwid-price-box .wp-block-getwid-price-box__pricing .wp-block-getwid-price-box__period {
  vertical-align: baseline;
}

.wp-block-getwid-price-box .wp-block-getwid-price-box__features {
  margin-bottom: 3.75rem;
}

.wp-block-getwid-counter .wp-block-getwid-counter__wrapper .wp-block-getwid-counter__number {
  font-size: 48px;
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  line-height: 1;
}

.wp-block-getwid-counter .wp-block-getwid-counter__wrapper .wp-block-getwid-counter__number:not(.has-text-color) {
  color: #2c3847;
}

.wp-block-getwid-counter .wp-block-getwid-counter__wrapper .wp-block-getwid-counter__suffix {
  padding-top: 0.875em;
}

.wp-block-getwid-counter .wp-block-getwid-counter__wrapper .wp-block-getwid-counter__prefix {
  padding-bottom: 0.875em;
}

.wp-block-getwid-contact-form .wp-block-getwid-contact-form__submit {
  margin-top: 2.5rem;
}

.wp-block-getwid-post-slider .wp-block-getwid-post-slider__post {
  padding: 100px;
}

@media (min-width: 768px) {
  .wp-block-getwid-post-slider .wp-block-getwid-post-slider__post {
    padding: 150px;
  }
}
.wp-block-getwid-post-slider .wp-block-getwid-post-slider__post .wp-block-getwid-post-slider__post-overlay {
  opacity: 0.4;
}

.wp-block-getwid-post-slider .wp-block-getwid-post-slider__post .wp-block-getwid-post-slider__post-content-wrapper {
  text-align: left;
  max-width: 650px;
  margin-left: 0;
  margin-right: auto;
}

.wp-block-getwid-post-slider .wp-block-getwid-post-slider__post .wp-block-getwid-post-slider__post-title {
  color: #fff;
}

.wp-block-getwid-post-slider .wp-block-getwid-post-slider__post .wp-block-getwid-post-slider__post-title a {
  color: inherit;
}

.wp-block-getwid-post-slider .wp-block-getwid-post-slider__post .wp-block-getwid-post-slider__post-title a:hover {
  text-decoration: none;
  color: #8f4ec7;
}

.wp-block-getwid-post-slider .wp-block-getwid-post-slider__post .wp-block-getwid-post-slider__post-excerpt {
  color: #fff;
}

.wp-block-getwid-post-carousel .wp-block-getwid-post-carousel__post {
  border: 2px solid #edeef0;
  background: #fff;
}

.wp-block-getwid-post-carousel .wp-block-getwid-post-carousel__post .wp-block-getwid-post-carousel__post-thumbnail {
  margin-bottom: 0;
  position: relative;
}

.wp-block-getwid-post-carousel .wp-block-getwid-post-carousel__post .wp-block-getwid-post-carousel__post-content-wrapper {
  padding: 50px 40px;
  width: 100%;
}

.wp-block-getwid-post-carousel .wp-block-getwid-post-carousel__post .wp-block-getwid-post-carousel__post-title {
  font-size: 24px;
  font-size: 1.5rem;
}

.wp-block-getwid-post-carousel .wp-block-getwid-post-carousel__post .wp-block-getwid-post-carousel__post-title a {
  color: inherit;
}

.wp-block-getwid-post-carousel .wp-block-getwid-post-carousel__post .wp-block-getwid-post-carousel__post-title a:hover {
  text-decoration: none;
  color: #8f4ec7;
}

.wp-block-getwid-post-carousel .wp-block-getwid-post-carousel__post .wp-block-getwid-post-carousel__post-excerpt {
  margin-top: 20px;
}

.wp-block-getwid-custom-post-type .wp-block-getwid-custom-post-type__post:first-child {
  margin-top: 0;
}

.wp-block-getwid-custom-post-type .wp-block-getwid-custom-post-type__post .wp-block-getwid-custom-post-type__post-wrapper {
  border: 2px solid #eaedef;
  background: #fff;
}

.wp-block-getwid-custom-post-type .wp-block-getwid-custom-post-type__post .wp-block-getwid-custom-post-type__post-thumbnail {
  position: relative;
}

.wp-block-getwid-custom-post-type .wp-block-getwid-custom-post-type__post .wp-block-getwid-custom-post-type__post-title {
  font-size: 24px;
  font-size: 1.5rem;
}

.wp-block-getwid-custom-post-type .wp-block-getwid-custom-post-type__post .wp-block-getwid-custom-post-type__post-title a {
  color: inherit;
}

.wp-block-getwid-custom-post-type .wp-block-getwid-custom-post-type__post .wp-block-getwid-custom-post-type__post-title a:hover {
  color: #8f4ec7;
  text-decoration: none;
}

.wp-block-getwid-custom-post-type .wp-block-getwid-custom-post-type__post .wp-block-getwid-custom-post-type__content-wrapper {
  padding: 50px 40px;
}

.wp-block-getwid-custom-post-type.has-layout-list .wp-block-getwid-custom-post-type__post .wp-block-getwid-custom-post-type__post-wrapper {
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
}

.wp-block-getwid-custom-post-type.has-layout-list .wp-block-getwid-custom-post-type__post .wp-block-getwid-custom-post-type__post-thumbnail {
  height: auto;
}

.wp-block-getwid-custom-post-type.has-layout-list .wp-block-getwid-custom-post-type__post .wp-block-getwid-custom-post-type__post-thumbnail a {
  height: 100%;
}

.wp-block-getwid-custom-post-type.has-layout-list .wp-block-getwid-custom-post-type__post .wp-block-getwid-custom-post-type__post-thumbnail img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.wp-block-getwid-custom-post-type.has-layout-list .wp-block-getwid-custom-post-type__post .wp-block-getwid-custom-post-type__post-thumbnail + .wp-block-getwid-custom-post-type__content-wrapper {
  max-width: 60%;
}

.wp-block-getwid-custom-post-type.has-layout-grid .wp-block-getwid-custom-post-type__post .wp-block-getwid-custom-post-type__post-thumbnail {
  margin-bottom: 0;
}

.wp-block-getwid-price-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wp-block-getwid-price-list.has-dots .wp-block-getwid-price-list__price-line {
  border-bottom: 5px dotted currentColor;
}

.wp-block-getwid-price-list.has-dots:not(.has-text-color) .wp-block-getwid-price-list__price-line {
  border-bottom: 5px dotted #f1f4f7;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .wp-block-getwid-price-list .wp-block-getwid-price-list__content-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1 0;
    flex: 1 0;
  }
}
.wp-block-getwid-template-post-title:not(.has-text-color) a {
  color: inherit;
}

.wp-block-getwid-template-post-title:not(.has-text-color) a:hover {
  color: #8f4ec7;
}

.wp-block-getwid-template-post-title a:hover {
  text-decoration: none;
}

.wp-block-getwid-template-post-featured-background-image {
  padding: 100px;
}

@media (min-width: 768px) {
  .wp-block-getwid-template-post-featured-background-image {
    padding: 150px;
  }
}
.wp-block-getwid-template-post-featured-background-image .wp-block-getwid-template-post-featured-background-image__content > *:not(.has-text-color) {
  color: #fff;
}

.wp-block-getwid-template-post-featured-background-image .wp-block-getwid-template-post-featured-background-image__content > *:not(.has-text-color) a {
  color: inherit;
}

.wp-block-getwid-template-post-meta {
  font-style: italic;
  font-size: 15px;
  font-size: 0.9375rem;
}

.wp-block-getwid-template-post-meta.has-direction-row > * {
  margin-right: 5px;
}

.wp-block-getwid-template-post-meta.has-direction-row p + div {
  margin-left: 0;
}

.wp-block-getwid-template-post-link {
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}

.wp-block-getwid-template-post-link:not(.has-text-color) a {
  color: #64c0f4;
}

body {
  color: #7b838b;
  font-family: "PT Serif", serif;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.75;
  background: #fff;
  letter-spacing: 0.7px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
  clear: both;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: #2c3847;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: -0.7px;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 48px;
  font-size: 3rem;
}

h2 {
  font-size: 38px;
  font-size: 2.375rem;
}

h3 {
  font-size: 29px;
  font-size: 1.8125rem;
}

h4 {
  font-size: 24px;
  font-size: 1.5rem;
}

h5 {
  font-size: 22px;
  font-size: 1.375rem;
}

h6 {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
}

a {
  color: #8f4ec7;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

.main-navigation {
  font-family: "Work Sans", sans-serif;
  line-height: 1.3;
  color: #2c3847;
  font-size: 20px;
  font-size: 1.25rem;
}

@media (min-width: 1030px) {
  .main-navigation {
    font-size: 17px;
    font-size: 1.0625rem;
  }
}
.main-navigation .nav-menu li {
  margin: 0;
  padding: 0;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 100%;
}

@media (min-width: 1030px) {
  .main-navigation ul {
    width: auto;
  }
}
.main-navigation ul:after {
  display: table;
  clear: both;
  content: "";
}

.main-navigation ul ul {
  padding-left: 1.25rem;
  font-size: 17px;
  font-size: 1.0625rem;
  color: #7b838b;
}

@media (min-width: 1030px) {
  .main-navigation ul ul {
    color: #2c3847;
    background: #fff;
    float: left;
    position: absolute;
    top: 120%;
    visibility: hidden;
    opacity: 0;
    z-index: 99999;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 2px 5px 43px 0 rgba(138, 164, 181, 0.28);
    box-shadow: 2px 5px 43px 0 rgba(138, 164, 181, 0.28);
  }
}
.main-navigation ul ul.toleft {
  right: 0;
  left: auto;
}

.main-navigation ul ul ul {
  left: 100%;
}

.main-navigation ul ul ul.toleft {
  right: 100%;
  left: auto;
}

@media (min-width: 1030px) {
  .main-navigation ul ul ul {
    top: 0;
    visibility: hidden;
  }
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  top: 25%;
}

.main-navigation ul ul a {
  color: inherit;
}

@media (min-width: 1030px) {
  .main-navigation ul ul a {
    width: 230px;
    padding: 0.75rem 2rem;
  }
}
.main-navigation ul ul .menu-item-has-children > a {
  padding-right: 2.75rem;
  position: relative;
}

.main-navigation ul ul .menu-item-has-children > a:after {
  position: absolute;
  right: 2.25rem;
  top: 1rem;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main-navigation ul ul .menu-item-has-children:hover > a:after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.main-navigation li {
  width: 100%;
}

@media (min-width: 1030px) {
  .main-navigation li {
    width: auto;
    float: left;
    position: relative;
  }
}
.main-navigation li:hover > a,
.main-navigation li.focus > a {
  color: #8f4ec7;
  text-decoration: none;
}

.main-navigation a {
  display: block;
  text-decoration: none;
  padding: 1rem 1.25rem;
  color: inherit;
  font-weight: 500;
  letter-spacing: -0.35px;
}

@media (min-width: 1030px) {
  .main-navigation a {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
  color: #8f4ec7;
}

.main-navigation .menu-item-has-children {
  position: relative;
}

.main-navigation .menu-item-has-children > a {
  padding-right: 2.5rem;
}

@media (min-width: 1030px) {
  .main-navigation .menu-item-has-children > a {
    padding-right: 1.25rem;
  }
}
.main-navigation .menu-item-has-children > a:after {
  display: none;
  content: "";
  font-size: 12px;
  font-size: 0.75rem;
  margin-left: 10px;
  color: inherit;
  font-family: Linearicons-Free;
}

@media (min-width: 1030px) {
  .main-navigation .menu-item-has-children > a:after {
    display: inline-block;
  }
}
.primary-menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  overflow: hidden;
  z-index: -10;
  -webkit-transition: all 0.3s ease, z-index 1s step-end;
  -o-transition: all 0.3s ease, z-index 1s step-end;
  transition: all 0.3s ease, z-index 1s step-end;
  padding: 5rem 1.5625rem;
}

@media (min-width: 1030px) {
  .primary-menu-wrapper {
    overflow: visible;
    padding: 0;
    z-index: 10;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    position: static;
    top: initial;
    background: transparent;
    min-height: auto;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.primary-menu-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  min-width: 0;
  min-height: 0;
  border-radius: 50%;
  background: rgba(242, 249, 253, 0.98);
  -webkit-transition: min-width 0.3s linear 0.5s, min-height 0.3s linear 0.5s, border-radius 0.3s linear 0.2s;
  -o-transition: min-width 0.3s linear 0.5s, min-height 0.3s linear 0.5s, border-radius 0.3s linear 0.2s;
  transition: min-width 0.3s linear 0.5s, min-height 0.3s linear 0.5s, border-radius 0.3s linear 0.2s;
  -webkit-transform: translateY(-50%) translateX(50%);
  -ms-transform: translateY(-50%) translateX(50%);
  transform: translateY(-50%) translateX(50%);
}

@media (min-width: 1030px) {
  .primary-menu-wrapper:after {
    display: none;
  }
}
.primary-menu-wrapper .primary-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}

@media (min-width: 1030px) {
  .primary-menu-wrapper .primary-menu-container {
    display: block;
  }
}
.primary-menu-wrapper .menu {
  z-index: 1;
  opacity: 0;
  display: block;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  max-width: 345px;
}

@media (min-width: 1030px) {
  .primary-menu-wrapper .menu {
    opacity: 1;
    max-width: none;
  }
}
.primary-menu-wrapper .mobile-search-form-wrapper {
  margin: 2.5rem auto 0;
  max-width: 345px;
  z-index: 1;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

@media (min-width: 1030px) {
  .primary-menu-wrapper .mobile-search-form-wrapper {
    display: none;
  }
}
.primary-menu-wrapper .mobile-search-form-wrapper .search-form {
  background: #fff;
  border: 2px solid #ebeef1;
}

.primary-menu-wrapper .mobile-search-form-wrapper .search-form input {
  background: transparent;
}

.primary-menu-wrapper .dropdown-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.325em 0.875em;
  background: transparent;
  color: #2c3847;
}

.primary-menu-wrapper .dropdown-toggle:hover {
  color: #8f4ec7;
  background: transparent;
}

@media (min-width: 1030px) {
  .primary-menu-wrapper .dropdown-toggle {
    display: none;
  }
}
.primary-menu-wrapper .dropdown-toggle span {
  display: block;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.primary-menu-wrapper .dropdown-toggle.toggled-on span {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.main-navigation.toggled .primary-menu-wrapper {
  margin-top: 0;
  z-index: 5;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: all 0.3s ease, z-index 1s step-start;
  -o-transition: all 0.3s ease, z-index 1s step-start;
  transition: all 0.3s ease, z-index 1s step-start;
}

.main-navigation.toggled .primary-menu-wrapper:after {
  min-width: 200%;
  min-height: 200%;
  border-radius: 0;
  -webkit-transition: min-width 0.4s linear, min-height 0.4s linear, border-radius 0.4s linear 0.4s;
  -o-transition: min-width 0.4s linear, min-height 0.4s linear, border-radius 0.4s linear 0.4s;
  transition: min-width 0.4s linear, min-height 0.4s linear, border-radius 0.4s linear 0.4s;
}

.main-navigation.toggled .primary-menu-wrapper .menu {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  -o-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s;
}

.main-navigation.toggled .primary-menu-wrapper .mobile-search-form-wrapper {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  -o-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s;
}

.main-navigation.toggled .primary-menu-wrapper ul ul {
  display: none;
}

@media (min-width: 1030px) {
  .main-navigation.toggled .primary-menu-wrapper ul ul {
    display: block;
  }
}
.main-navigation.toggled .primary-menu-wrapper ul ul.toggled-on {
  display: block;
}

.menu-toggle .lnr-cross {
  display: none;
}

.menu-toggle[aria-expanded=true] .lnr-cross {
  display: block;
}

.menu-toggle[aria-expanded=true] .lnr-menu {
  display: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media (min-width: 1030px) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: block;
  }
}
.menu-toggle {
  background: transparent;
  color: #2c3847;
  padding: 0;
  z-index: 11;
  font-size: 40px;
  font-size: 2.5rem;
}

.menu-toggle:hover {
  background: transparent;
}

.site-main .comment-navigation, .site-main .posts-navigation,
.site-main .post-navigation {
  overflow: hidden;
}

.comment-navigation .nav-links:after,
.posts-navigation .nav-links:after,
.post-navigation .nav-links:after {
  content: "";
  display: table;
  clear: both;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 100%;
}

@media (min-width: 1030px) {
  .comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    width: 50%;
  }
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 100%;
}

@media (min-width: 1030px) {
  .comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    width: 50%;
  }
}
.comment-navigation .nav-previous + .nav-next,
.posts-navigation .nav-previous + .nav-next,
.post-navigation .nav-previous + .nav-next {
  margin-top: 2.5rem;
}

@media (min-width: 1030px) {
  .comment-navigation .nav-previous + .nav-next,
.posts-navigation .nav-previous + .nav-next,
.post-navigation .nav-previous + .nav-next {
    margin-top: 0;
  }
}
.navigation.pagination {
  max-width: 938px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.navigation.pagination .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navigation.pagination .nav-links .page-numbers {
  margin: 0 10px 10px 0;
  width: 50px;
  height: 50px;
  line-height: 46px;
  text-align: center;
  border: 2px solid #f3f9fd;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #7b838b;
}

.navigation.pagination .nav-links .page-numbers:last-child {
  margin-right: 0;
}

.navigation.pagination .nav-links .page-numbers.dots {
  border: 0;
}

.navigation.pagination .nav-links .page-numbers:hover, .navigation.pagination .nav-links .page-numbers:focus {
  text-decoration: none;
}

.navigation.pagination .nav-links .page-numbers:hover, .navigation.pagination .nav-links .page-numbers.current {
  border-color: #8f4ec7;
  color: #2c3847;
}

.navigation.pagination .nav-links .page-numbers.next span, .navigation.pagination .nav-links .page-numbers.prev span {
  border-color: currentColor;
}

.navigation.pagination .nav-links .next-icon,
.navigation.pagination .nav-links .previous-icon {
  border: solid #7b838b;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.navigation.pagination .nav-links .next-icon {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: -3px;
}

.navigation.pagination .nav-links .previous-icon {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-right: -3px;
}

.post-navigation-wrapper {
  max-width: 1130px;
  margin: 6.75rem auto;
  padding-top: 4.6875rem;
  padding-bottom: 4.6875rem;
  border-top: 8px dotted #f1f4f7;
  border-bottom: 8px dotted #f1f4f7;
}

.post-navigation-wrapper a:hover {
  text-decoration: none;
}

.post-navigation-wrapper a:hover .lnr {
  color: #8f4ec7;
}

.post-navigation-wrapper a:hover .post-title {
  color: #8f4ec7;
}

.post-navigation-wrapper a:focus {
  text-decoration: none;
  outline: none;
}

.post-navigation-wrapper .previous,
.post-navigation-wrapper .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 1.4;
}

.post-navigation-wrapper .previous .lnr,
.post-navigation-wrapper .next .lnr {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 63px;
  height: 63px;
  font-size: 25px;
  font-size: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #f3f8fb;
  border-radius: 50%;
  color: #7b838b;
}

.post-navigation-wrapper .previous .meta,
.post-navigation-wrapper .next .meta {
  display: block;
  font-style: italic;
  color: #7b838b;
  margin-bottom: 0.875rem;
}

.post-navigation-wrapper .previous .post-title,
.post-navigation-wrapper .next .post-title {
  font-size: 21px;
  font-size: 1.3125rem;
  font-family: "Work Sans", sans-serif;
  color: #2c3847;
  font-weight: 500;
}

.post-navigation-wrapper .previous .title,
.post-navigation-wrapper .next .title {
  width: 100%;
}

.post-navigation-wrapper .previous {
  padding-right: 1.25rem;
}

.post-navigation-wrapper .previous .lnr {
  margin-right: 1.875rem;
}

.post-navigation-wrapper .previous .lnr:before {
  margin-left: -4px;
}

.post-navigation-wrapper .next {
  padding-left: 1.25rem;
}

.post-navigation-wrapper .next .lnr {
  margin-left: 1.875rem;
}

.post-navigation-wrapper .next .lnr:before {
  margin-right: -4px;
}

.wp-block {
  max-width: 938px;
}

.wp-block[data-align=full] {
  max-width: none;
}

.wp-block[data-align=wide] {
  max-width: 1130px;
}

.wp-block.editor-post-title__block {
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
  font-size: 3rem;
  color: #2c3847;
}

.wp-block.editor-post-title__block .editor-post-title__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: 500;
  text-align: center;
}

.wp-block-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1.5rem;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

.wp-block-table th,
.wp-block-table td {
  border: 2px solid #ebeef1;
}

.wp-block-table caption,
.wp-block-table th,
.wp-block-table td {
  font-weight: normal;
  text-align: left;
}

.wp-block-table thead th {
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  color: #2c3847;
}

.wp-block-table th,
.wp-block-table td {
  padding: 0.8em;
}

@media (min-width: 1030px) {
  .wp-block-table th,
.wp-block-table td {
    padding: 1.3em;
  }
}
.wp-block-quote {
  margin-left: 0;
  margin-right: 0;
}

.wp-block-quote p {
  font-size: inherit;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
  padding-left: 4.5rem;
  border: 0;
}

.wp-block-pullquote blockquote > .editor-rich-text p {
  font-size: inherit;
}

.wp-block-getwid-person .wp-block-getwid-person__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wp-block-getwid-person .wp-block-getwid-person__content-wrapper .editor-testimonial__title-wrapper {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.wp-block-getwid-person .wp-block-getwid-person__content-wrapper .editor-testimonial__subtitle-wrapper {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.wp-block-getwid-person .wp-block-getwid-person__content-wrapper .editor-testimonial__content-wrapper {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.wp-block-getwid-progress-bar .wp-block-getwid-progress-bar__title {
  margin-top: 0;
  margin-bottom: 0;
}
