/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*
Ligatures and Hyphenation
*/
p {
  /*-ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;*/
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  /*
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  */
  /*
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  */
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #7b838b;
  font-family: "PT Serif", serif;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.75;
  letter-spacing: 0.7px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
  clear: both;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: #2c3847;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: -0.7px;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 48px;
  font-size: 3rem;
}

h2 {
  font-size: 38px;
  font-size: 2.375rem;
}

h3 {
  font-size: 29px;
  font-size: 1.8125rem;
}

h4 {
  font-size: 24px;
  font-size: 1.5rem;
}

h5 {
  font-size: 22px;
  font-size: 1.375rem;
}

h6 {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
}

p {
  margin: 0 0 1.5em;
}

p:last-child {
  margin-bottom: 0;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5rem;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
VERTICAL ALIGNMENT
*********************/
/*********************
BORDER RADIUS
*********************/
/* @include border-radius(3px, 3px, 3px, 3px); */
/*********************
FLEX
*********************/
/* @include flex(direction); */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
    ## Post and Comment Navigation
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Site Branding / Title
# Main Navigation
# Search Toggle / Modal
# Site Footer
# Infinite scroll
# Media
    ## Captions
    ## Galleries
# Blocks
# Getwid Blocks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Post and Comment Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.site-main {
  padding-left: 95px;
  padding-right: 95px;
}

.hentry > .entry-content > *.alignfull {
  max-width: calc(100% + 95px + 95px);
  margin-left: -95px;
  margin-right: -95px;
}

body.page .site-main > .hentry > .entry-content > *.alignfull {
  max-width: calc(100% + 95px + 95px);
  margin-left: -95px;
  margin-right: -95px;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area .comment .comment-body,
.comments-area .pingback .comment-body {
  padding: 3.125rem;
}

/*--------------------------------------------------------------
# Site Branding / Title
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Search Toggle / Modal
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
.site-footer {
  padding: 3.125rem 95px;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Getwid Blocks
--------------------------------------------------------------*/
/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
    ## Post and Comment Navigation
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Site Branding / Title
# Main Navigation
# Search Toggle / Modal
# Site Footer
# Infinite scroll
# Media
    ## Captions
    ## Galleries
# Blocks
# Getwid Blocks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
th,
td {
  padding: 1.3em;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #8f4ec7;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  font-size: 17px;
  font-size: 1.0625rem;
}

.main-navigation ul {
  width: auto;
}

.main-navigation ul ul {
  color: #2c3847;
  background: #fff;
  float: left;
  position: absolute;
  top: 120%;
  visibility: hidden;
  opacity: 0;
  z-index: 99999;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 2px 5px 43px 0 rgba(138, 164, 181, 0.28);
  box-shadow: 2px 5px 43px 0 rgba(138, 164, 181, 0.28);
}

.main-navigation ul ul ul {
  top: 0;
  visibility: hidden;
}

.main-navigation ul ul a {
  width: 230px;
  padding: 0.75rem 2rem;
}

.main-navigation li {
  width: auto;
  float: left;
  position: relative;
}

.main-navigation a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.main-navigation .menu-item-has-children > a {
  padding-right: 1.25rem;
}

.main-navigation .menu-item-has-children > a:after {
  display: inline-block;
}

.primary-menu-wrapper {
  overflow: visible;
  padding: 0;
  z-index: 10;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  position: static;
  top: initial;
  background: transparent;
  min-height: auto;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.primary-menu-wrapper:after {
  display: none;
}

.primary-menu-wrapper .primary-menu-container {
  display: block;
}

.primary-menu-wrapper .menu {
  opacity: 1;
  max-width: none;
}

.primary-menu-wrapper .mobile-search-form-wrapper {
  display: none;
}

.primary-menu-wrapper .dropdown-toggle {
  display: none;
}

.main-navigation.toggled .primary-menu-wrapper ul ul {
  display: block;
}

.menu-toggle {
  display: none;
}

.main-navigation ul {
  display: block;
}

/*--------------------------------------------------------------
## Post and Comment Navigation
--------------------------------------------------------------*/
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  width: 50%;
}

.comment-navigation .nav-previous + .nav-next,
.posts-navigation .nav-previous + .nav-next,
.post-navigation .nav-previous + .nav-next {
  margin-top: 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.hentry > .entry-content > *.alignleft {
  margin-left: calc((100% - 748px) / 2);
}

.hentry > .entry-content > *.alignleft + .alignleft {
  margin-right: 1.5em;
}

.hentry > .entry-content > *.alignright {
  margin-right: calc((100% - 748px) / 2);
}

.hentry > .entry-content > *.alignright + .alignrignt {
  margin-left: 1.5em;
}

.hentry > .entry-content > *.alignleft, .hentry > .entry-content > *.alignright {
  max-width: 374px;
}

body.page .site-main > .hentry > .entry-content > *.alignleft {
  margin-right: 1.5em;
  margin-left: calc((100% - 938px) / 2);
}

body.page .site-main > .hentry > .entry-content > *.alignleft + .alignleft {
  margin-left: 1.5em;
}

body.page .site-main > .hentry > .entry-content > *.alignright {
  margin-left: 1.5em;
  margin-right: calc((100% - 938px) / 2);
}

body.page .site-main > .hentry > .entry-content > *.alignright + .alignright {
  margin-right: 1.5em;
}

body.page .site-main > .hentry > .entry-content > *.alignleft, body.page .site-main > .hentry > .entry-content > *.alignright {
  max-width: 469px;
}

body.blog .site-main > .hentry > .entry-content > *.alignleft, body.search .site-main > .hentry > .entry-content > *.alignleft, body.archive .site-main > .hentry > .entry-content > *.alignleft {
  margin-left: calc((100% - 938px) / 2);
}

body.blog .site-main > .hentry > .entry-content > *.alignleft + .alignleft, body.search .site-main > .hentry > .entry-content > *.alignleft + .alignleft, body.archive .site-main > .hentry > .entry-content > *.alignleft + .alignleft {
  margin-right: 1.5em;
}

body.blog .site-main > .hentry > .entry-content > *.alignright, body.search .site-main > .hentry > .entry-content > *.alignright, body.archive .site-main > .hentry > .entry-content > *.alignright {
  margin-right: calc((100% - 938px) / 2);
}

body.blog .site-main > .hentry > .entry-content > *.alignright + .alignright, body.search .site-main > .hentry > .entry-content > *.alignright + .alignright, body.archive .site-main > .hentry > .entry-content > *.alignright + .alignright {
  margin-left: 1.5em;
}

body.blog .site-main > .hentry > .entry-content > *.alignleft, body.blog .site-main > .hentry > .entry-content > *.alignright, body.search .site-main > .hentry > .entry-content > *.alignleft, body.search .site-main > .hentry > .entry-content > *.alignright, body.archive .site-main > .hentry > .entry-content > *.alignleft, body.archive .site-main > .hentry > .entry-content > *.alignright {
  max-width: 469px;
}

body .site-main > .error-404 > *, body .site-main > .no-results > * {
  max-width: 50%;
  margin: 0 auto;
}

body .site-main > .error-404 .page-title,
body .site-main > .no-results .page-title {
  font-size: 150px;
  font-size: 9.375rem;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area .comment .comment-body,
.comments-area .pingback .comment-body {
  padding: 3.125rem 3.125rem 3.125rem 12.5rem;
}

.comments-area .comment-author .avatar {
  float: none;
  margin: 0;
  position: absolute;
  left: 3.125rem;
  top: 3.125rem;
}

@media screen and (max-width: 1029px) {
  .comments-area .comment-author .fn {
    display: inline-block;
    margin-top: 0.875rem;
  }
}
.comments-area .comment-meta {
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1029px) {
  .comments-area .comment-meta:after {
    display: table;
    content: "";
    clear: both;
  }
}
.comment-respond {
  max-width: 50%;
}

/*--------------------------------------------------------------
# Site Branding / Title
--------------------------------------------------------------*/
@media screen and (max-width: 1029px) {
  .site-header.has-custom-color .main-navigation ul ul {
    color: inherit;
  }
}
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.primary-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.primary-menu-more {
  display: block;
}

/*--------------------------------------------------------------
# Search Toggle / Modal
--------------------------------------------------------------*/
.search-toggle {
  display: block;
}

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Getwid Blocks
--------------------------------------------------------------*/
/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
/*-------------------------------------------

--------------------------------------------*/
