/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
    ## Post and Comment Navigation
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Site Branding / Title
# Main Navigation
# Search Toggle / Modal
# Site Footer
# Infinite scroll
# Media
    ## Captions
    ## Galleries
# Blocks
# Getwid Blocks
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
// Located in partials > _typography.scss

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
th,
td {
    padding: 1.3em;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
// Located in modules > _forms.scss

 /*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #8f4ec7;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
  .main-navigation {
    font-size: 17px;
    font-size: 1.0625rem;
  }



  .main-navigation ul {
    width: auto;
  }


  .main-navigation ul ul {
    color: #2c3847;
    background: #fff;
    float: left;
    position: absolute;
    top: 120%;
    visibility: hidden;
    opacity: 0;
    z-index: 99999;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 2px 5px 43px 0 rgba(138, 164, 181, 0.28);
            box-shadow: 2px 5px 43px 0 rgba(138, 164, 181, 0.28);
  }


  .main-navigation ul ul ul {
    top: 0;
    visibility: hidden;
}

  .main-navigation ul ul a {
    width: 230px;
    padding: .75rem 2rem;
  }

  .main-navigation li {
    width: auto;
    float: left;
    position: relative;
  }

  .main-navigation a {
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
  }

  .main-navigation .menu-item-has-children > a {
    padding-right: 1.25rem;
  }

  .main-navigation .menu-item-has-children > a:after {
    display: inline-block;
  }

  .primary-menu-wrapper {
    overflow: visible;
    padding: 0;
    z-index: 10;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    position: static;
    top: initial;
    background: transparent;
    min-height: auto;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .primary-menu-wrapper:after {
    display: none;
  }

  .primary-menu-wrapper .primary-menu-container {
    display: block;
  }

  .primary-menu-wrapper .menu {
    opacity: 1;
    max-width: none;
  }

  .primary-menu-wrapper .mobile-search-form-wrapper {
    display: none;
  }

  .primary-menu-wrapper .dropdown-toggle {
    display: none;
  }

  .main-navigation.toggled .primary-menu-wrapper ul ul {
    display: block;
  }

  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }

/*--------------------------------------------------------------
## Post and Comment Navigation
--------------------------------------------------------------*/
  .comment-navigation .nav-previous,
  .posts-navigation .nav-previous,
  .post-navigation .nav-previous {
    width: 50%;
  }

  .comment-navigation .nav-next,
  .posts-navigation .nav-next,
  .post-navigation .nav-next {
    width: 50%;
  }

  .comment-navigation .nav-previous + .nav-next,
  .posts-navigation .nav-previous + .nav-next,
  .post-navigation .nav-previous + .nav-next {
    margin-top: 0;
  }


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
// Located in partials > _widgets.scss

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.hentry > .entry-content > *.alignleft {
    margin-left: calc((100% - 748px) / 2);
}
.hentry > .entry-content > *.alignleft + .alignleft {
    margin-right: 1.5em;
}
.hentry > .entry-content > *.alignright {
    margin-right: calc((100% - 748px) / 2);
}
.hentry > .entry-content > *.alignright + .alignrignt {
    margin-left: 1.5em;
}
.hentry > .entry-content > *.alignleft, .hentry > .entry-content > *.alignright {
    max-width: 374px;
}
body.page .site-main > .hentry > .entry-content > *.alignleft {
    margin-right: 1.5em;
    margin-left: calc((100% - 938px) / 2);
}
body.page .site-main > .hentry > .entry-content > *.alignleft + .alignleft {
    margin-left: 1.5em;
}
body.page .site-main > .hentry > .entry-content > *.alignright {
    margin-left: 1.5em;
    margin-right: calc((100% - 938px) / 2);
}
body.page .site-main > .hentry > .entry-content > *.alignright + .alignright {
    margin-right: 1.5em;
}
body.page .site-main > .hentry > .entry-content > *.alignleft, body.page .site-main > .hentry > .entry-content > *.alignright {
    max-width: 469px;
}
body.blog .site-main > .hentry > .entry-content > *.alignleft, body.search .site-main > .hentry > .entry-content > *.alignleft, body.archive .site-main > .hentry > .entry-content > *.alignleft {
    margin-left: calc((100% - 938px) / 2);
}
body.blog .site-main > .hentry > .entry-content > *.alignleft + .alignleft, body.search .site-main > .hentry > .entry-content > *.alignleft + .alignleft, body.archive .site-main > .hentry > .entry-content > *.alignleft + .alignleft {
    margin-right: 1.5em;
}
body.blog .site-main > .hentry > .entry-content > *.alignright, body.search .site-main > .hentry > .entry-content > *.alignright, body.archive .site-main > .hentry > .entry-content > *.alignright {
    margin-right: calc((100% - 938px) / 2);
  }
body.blog .site-main > .hentry > .entry-content > *.alignright + .alignright, body.search .site-main > .hentry > .entry-content > *.alignright + .alignright, body.archive .site-main > .hentry > .entry-content > *.alignright + .alignright {
    margin-left: 1.5em;
}
body.blog .site-main > .hentry > .entry-content > *.alignleft, body.blog .site-main > .hentry > .entry-content > *.alignright, body.search .site-main > .hentry > .entry-content > *.alignleft, body.search .site-main > .hentry > .entry-content > *.alignright, body.archive .site-main > .hentry > .entry-content > *.alignleft, body.archive .site-main > .hentry > .entry-content > *.alignright {
    max-width: 469px;
}
body .site-main > .error-404 > *, body .site-main > .no-results > * {
    max-width: 50%;
    margin: 0 auto;
}
body .site-main > .error-404 .page-title,
body .site-main > .no-results .page-title {
    font-size: 150px;
    font-size: 9.375rem;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area .comment .comment-body,
.comments-area .pingback .comment-body {
    padding: 3.125rem 3.125rem 3.125rem 12.5rem;
}
.comments-area .comment-author .avatar {
    float: none;
    margin: 0;
    position: absolute;
    left: 3.125rem;
    top: 3.125rem;
}
@media screen and (max-width: 1029px) {
  .comments-area .comment-author .fn {
    display: inline-block;
    margin-top: .875rem;
  }
}
.comments-area .comment-meta {
    margin-bottom: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
@media screen and (max-width: 1029px) {
  .comments-area .comment-meta:after {
    display: table;
    content: '';
    clear: both;
  }
}
.comment-respond {
    max-width: 50%;
  }

/*--------------------------------------------------------------
# Site Branding / Title
--------------------------------------------------------------*/
@media screen and (max-width: 1029px) {
  .site-header.has-custom-color .main-navigation ul ul {
    color: inherit;
  }
}
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.primary-menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.primary-menu-more {
    display: block;
}
/*--------------------------------------------------------------
# Search Toggle / Modal
--------------------------------------------------------------*/
.search-toggle {
    display: block;
  }

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
// Located in partials > _block.scss

/*--------------------------------------------------------------
## Getwid Blocks
--------------------------------------------------------------*/
// Located in partials > _block.scss