/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
    ## Post and Comment Navigation
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Site Branding / Title
# Main Navigation
# Search Toggle / Modal
# Site Footer
# Infinite scroll
# Media
    ## Captions
    ## Galleries
# Blocks
# Getwid Blocks
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
// Located in partials > _typography.scss

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
// Located in modules > _forms.scss

 /*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Post and Comment Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
// Located in partials > _widgets.scss

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.site-main {
    padding-left: 95px;
    padding-right: 95px;
}

.hentry > .entry-content > *.alignfull {
    max-width: calc(100% + 95px + 95px);
    margin-left: -95px;
    margin-right: -95px;
}

body.page .site-main > .hentry > .entry-content > *.alignfull {
    max-width: calc(100% + 95px + 95px);
    margin-left: -95px;
    margin-right: -95px;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area .comment .comment-body,
.comments-area .pingback .comment-body {
    padding: 3.125rem;
}

/*--------------------------------------------------------------
# Site Branding / Title
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Search Toggle / Modal
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
.site-footer {
    padding: 3.125rem 95px;
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
// Located in partials > _block.scss

/*--------------------------------------------------------------
## Getwid Blocks
--------------------------------------------------------------*/
// Located in partials > _block.scss