/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
    ## Post and Comment Navigation
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Site Branding / Title
# Main Navigation
# Search Toggle / Modal
# Site Footer
# Infinite scroll
# Media
    ## Captions
    ## Galleries
# Blocks
# Getwid Blocks
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Core WORDPRESS BODY CLASSES
--------------------------------------------------------------*/
.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
// Located in partials > _typography.scss

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 0;
  padding-left: 1.5em;
}

ul li, ol li {
  margin-top: 1em;
}

ul li:first-child, ol li:first-child {
  margin-top: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-top: 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

th,
td {
  border: 2px solid #ebeef1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1.5rem;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

thead th {
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  color: #2c3847;
}

th,
td {
  padding: 0.8em;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
// Located in modules > _forms.scss

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #8f4ec7;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  font-family: "Work Sans", sans-serif;
  line-height: 1.3;
  color: #2c3847;
  font-size: 20px;
  font-size: 1.25rem;
}

.main-navigation .nav-menu li {
  margin: 0;
  padding: 0;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 100%;
}

.main-navigation ul:after {
  display: table;
  clear: both;
  content: '';
}

.main-navigation ul ul {
  padding-left: 1.25rem;
  font-size: 17px;
  font-size: 1.0625rem;
  color: #7b838b;
}

.main-navigation ul ul.toleft {
  right: 0;
  left: auto;
}

.main-navigation ul ul ul {
  left: 100%;
}

.main-navigation ul ul ul.toleft {
  right: 100%;
  left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  top: 25%;
}

.main-navigation ul ul a {
  color: inherit;
}

.main-navigation ul ul .menu-item-has-children > a {
  padding-right: 2.75rem;
  position: relative;
}

.main-navigation ul ul .menu-item-has-children > a:after {
  position: absolute;
  right: 2.25rem;
  top: 1rem;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.main-navigation ul ul .menu-item-has-children:hover > a:after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.main-navigation li {
  width: 100%;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
  color: #8f4ec7;
  text-decoration: none;
}

.main-navigation a {
  display: block;
  text-decoration: none;
  padding: 1rem 1.25rem;
  color: inherit;
  font-weight: 500;
  letter-spacing: -.35px;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
  color: #8f4ec7;
}

.main-navigation .menu-item-has-children {
  position: relative;
}

.main-navigation .menu-item-has-children > a {
  padding-right: 2.5rem;
}

.main-navigation .menu-item-has-children > a:after {
  display: none;
  content: '\e874';
  font-size: 12px;
  font-size: 0.75rem;
  margin-left: 10px;
  color: inherit;
  font-family: Linearicons-Free;
}

.primary-menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  overflow: hidden;
  z-index: -10;
  -webkit-transition: all .3s ease, z-index 1s step-end;
  -o-transition: all .3s ease, z-index 1s step-end;
  transition: all .3s ease, z-index 1s step-end;
  padding: 5rem 1.5625rem;
}

.primary-menu-wrapper:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  min-width: 0;
  min-height: 0;
  border-radius: 50%;
  background: rgba(242, 249, 253, 0.98);
  -webkit-transition: min-width .3s linear .5s, min-height .3s linear .5s, border-radius .3s linear .2s;
  -o-transition: min-width .3s linear .5s, min-height .3s linear .5s, border-radius .3s linear .2s;
  transition: min-width .3s linear .5s, min-height .3s linear .5s, border-radius .3s linear .2s;
  -webkit-transform: translateY(-50%) translateX(50%);
      -ms-transform: translateY(-50%) translateX(50%);
          transform: translateY(-50%) translateX(50%);
}

.primary-menu-wrapper .primary-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.primary-menu-wrapper .menu {
  z-index: 1;
  opacity: 0;
  display: block;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  max-width: 345px;
}

.primary-menu-wrapper .mobile-search-form-wrapper {
  margin: 2.5rem auto 0;
  max-width: 345px;
  z-index: 1;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.primary-menu-wrapper .mobile-search-form-wrapper .search-form {
  background: #fff;
  border: 2px solid #ebeef1;
}

.primary-menu-wrapper .mobile-search-form-wrapper .search-form input {
  background: transparent;
}

.primary-menu-wrapper .dropdown-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.325em .875em;
  background: transparent;
  color: #2c3847;
}

.primary-menu-wrapper .dropdown-toggle:hover {
  color: #8f4ec7;
  background: transparent;
}

.primary-menu-wrapper .dropdown-toggle span {
  display: block;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.primary-menu-wrapper .dropdown-toggle.toggled-on span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-navigation.toggled .primary-menu-wrapper {
  margin-top: 0;
  z-index: 5;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: all .3s ease, z-index 1s step-start;
  -o-transition: all .3s ease, z-index 1s step-start;
  transition: all .3s ease, z-index 1s step-start;
}

.main-navigation.toggled .primary-menu-wrapper:after {
  min-width: 200%;
  min-height: 200%;
  border-radius: 0;
  -webkit-transition: min-width .4s linear, min-height .4s linear, border-radius .4s linear .4s;
  -o-transition: min-width .4s linear, min-height .4s linear, border-radius .4s linear .4s;
  transition: min-width .4s linear, min-height .4s linear, border-radius .4s linear .4s;
}

.main-navigation.toggled .primary-menu-wrapper .menu {
  opacity: 1;
  -webkit-transition: opacity .3s ease .5s;
  -o-transition: opacity .3s ease .5s;
  transition: opacity .3s ease .5s;
}

.main-navigation.toggled .primary-menu-wrapper .mobile-search-form-wrapper {
  opacity: 1;
  -webkit-transition: opacity .3s ease .5s;
  -o-transition: opacity .3s ease .5s;
  transition: opacity .3s ease .5s;
}

.main-navigation.toggled .primary-menu-wrapper ul ul {
  display: none;
}


.main-navigation.toggled .primary-menu-wrapper ul ul.toggled-on {
  display: block;
}

.menu-toggle .lnr-cross {
  display: none;
}

.menu-toggle[aria-expanded="true"] .lnr-cross {
  display: block;
}

.menu-toggle[aria-expanded="true"] .lnr-menu {
  display: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.menu-toggle {
  background: transparent;
  color: #2c3847;
  padding: 0;
  z-index: 11;
  font-size: 40px;
  font-size: 2.5rem;
}

.menu-toggle:hover {
  background: transparent;
}

/*--------------------------------------------------------------
## Post and Comment Navigation
--------------------------------------------------------------*/
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  overflow: hidden;
}

.comment-navigation .nav-links:after,
.posts-navigation .nav-links:after,
.post-navigation .nav-links:after {
  content: '';
  display: table;
  clear: both;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 100%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 100%;
}

.comment-navigation .nav-previous + .nav-next,
.posts-navigation .nav-previous + .nav-next,
.post-navigation .nav-previous + .nav-next {
  margin-top: 2.5rem;
}

.navigation.pagination {
  max-width: 938px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.navigation.pagination .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation.pagination .nav-links .page-numbers {
  margin: 0 10px 10px 0;
  width: 50px;
  height: 50px;
  line-height: 46px;
  text-align: center;
  border: 2px solid #f3f9fd;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  color: #7b838b;
}

.navigation.pagination .nav-links .page-numbers:last-child {
  margin-right: 0;
}

.navigation.pagination .nav-links .page-numbers.dots {
  border: 0;
}

.navigation.pagination .nav-links .page-numbers:hover, .navigation.pagination .nav-links .page-numbers:focus {
  text-decoration: none;
}

.navigation.pagination .nav-links .page-numbers:hover, .navigation.pagination .nav-links .page-numbers.current {
  border-color: #8f4ec7;
  color: #2c3847;
}

.navigation.pagination .nav-links .page-numbers.next span, .navigation.pagination .nav-links .page-numbers.prev span {
  border-color: currentColor;
}

.navigation.pagination .nav-links .next-icon,
.navigation.pagination .nav-links .previous-icon {
  border: solid #7b838b;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.navigation.pagination .nav-links .next-icon {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: -3px;
}

.navigation.pagination .nav-links .previous-icon {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-right: -3px;
}

.post-navigation-wrapper {
  max-width: 1130px;
  margin: 6.75rem auto;
  padding-top: 4.6875rem;
  padding-bottom: 4.6875rem;
  border-top: 8px dotted #f1f4f7;
  border-bottom: 8px dotted #f1f4f7;
}

.post-navigation-wrapper a:hover {
  text-decoration: none;
}

.post-navigation-wrapper a:hover .lnr {
  color: #8f4ec7;
}

.post-navigation-wrapper a:hover .post-title {
  color: #8f4ec7;
}

.post-navigation-wrapper a:focus {
  text-decoration: none;
  outline: none;
}

.post-navigation-wrapper .previous,
.post-navigation-wrapper .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.4;
}

.post-navigation-wrapper .previous .lnr,
.post-navigation-wrapper .next .lnr {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 63px;
  height: 63px;
  font-size: 25px;
  font-size: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f3f8fb;
  border-radius: 50%;
  color: #7b838b;
}

.post-navigation-wrapper .previous .meta,
.post-navigation-wrapper .next .meta {
  display: block;
  font-style: italic;
  color: #7b838b;
  margin-bottom: .875rem;
}

.post-navigation-wrapper .previous .post-title,
.post-navigation-wrapper .next .post-title {
  font-size: 21px;
  font-size: 1.3125rem;
  font-family: "Work Sans", sans-serif;
  color: #2c3847;
  font-weight: 500;
}

.post-navigation-wrapper .previous .title,
.post-navigation-wrapper .next .title {
  width: 100%;
}

.post-navigation-wrapper .previous {
  padding-right: 1.25rem;
}

.post-navigation-wrapper .previous .lnr {
  margin-right: 1.875rem;
}

.post-navigation-wrapper .previous .lnr:before {
  margin-left: -4px;
}

.post-navigation-wrapper .next {
  padding-left: 1.25rem;
}

.post-navigation-wrapper .next .lnr {
  margin-left: 1.875rem;
}

.post-navigation-wrapper .next .lnr:before {
  margin-right: -4px;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #21759b;
  display: block;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
// Located in partials > _widgets.scss
@import "../partials/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.site-content {
  background: -webkit-linear-gradient(top, #f7fbfe 0%, rgba(255, 255, 255, 0) 304px);
  background: -o-linear-gradient(top, #f7fbfe 0%, rgba(255, 255, 255, 0) 304px);
  background: linear-gradient(to bottom, #f7fbfe 0%, rgba(255, 255, 255, 0) 304px);
  margin-bottom: 6.875rem;
}

.site-main {
  padding-left: 25px;
  padding-right: 25px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .site-main {
    display: block;
  }
}

.entry-title,
.page-title {
  word-wrap: break-word;
}

.post-thumbnail {
  display: block;
}

.post-thumbnail img {
  display: block;
}

.post-thumbnail-wrapper {
  margin-bottom: 3.125rem;
  position: relative;
}

.post-thumbnail-wrapper .sticky {
  position: absolute;
  top: 35px;
  right: 35px;
  width: 76px;
  height: 76px;
  font-size: 34px;
  font-size: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: #68c5f9;
  border-radius: 50%;
}

.entry-header {
  margin-bottom: 1.875rem;
}

.entry-meta {
  font-style: italic;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #9ea6ac;
}

.entry-meta > span:after {
  content: '/';
  margin: 0 5px;
}

.entry-meta > span:last-child:after {
  display: none;
}

.entry-footer {
  margin-top: 2.5rem;
}

.tags-links a {
  display: inline-block;
  margin: 0 .625rem .625rem 0;
  padding: .875rem 1.875rem;
  color: #2c3847;
  background: #f3f8fb;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

.tags-links a:hover {
  text-decoration: none;
}

.tags-links a:focus, .tags-links a:active {
  text-decoration: none;
}

.more-tag-wrapper {
  margin-top: 3.75rem;
}

.alignwide,
.alignfull {
  clear: both;
}

.hentry > .entry-header,
.hentry > .entry-footer,
.hentry > .post-thumbnail,
.hentry > .entry-content > * {
  max-width: 748px;
  margin-left: auto;
  margin-right: auto;
}

.hentry > .entry-content > * {
  margin-bottom: 1.5em;
}

.hentry > .entry-content > *.wp-block-separator {
  margin-top: 80px;
  margin-bottom: 80px;
}

.hentry > .entry-content > *:first-child {
  margin-top: 0;
}

.hentry > .entry-content > *:last-child {
  margin-bottom: 0;
}

.hentry > .entry-content > *.alignwide {
  max-width: 1130px;
  width: auto;
}

.hentry > .entry-content > *.alignfull {
  max-width: calc(100% + 25px + 25px);
  margin-left: -25px;
  margin-right: -25px;
  width: auto;
}


.hentry > .entry-content > *.alignleft {
  margin-left: 0;
  margin-right: 1.5em;
}


.hentry > .entry-content > *.alignright {
  margin-right: 0;
  margin-left: 1.5em;
}


.hentry > .entry-content > h1 {
  margin-bottom: .5em;
}

.hentry > .entry-content > h2 {
  margin-bottom: .5em;
}

.hentry > .entry-content > h3 {
  margin-bottom: .5em;
}

.hentry > .entry-content > h4 {
  margin-bottom: .5em;
}

.hentry > .entry-content > h5 {
  margin-bottom: .5em;
}

.hentry > .entry-content > h6 {
  margin-bottom: .5em;
}

body.page .site-main > .hentry > .entry-header,
body.page .site-main > .hentry > .entry-footer,
body.page .site-main > .hentry > .post-thumbnail,
body.page .site-main > .hentry > .entry-content > * {
  max-width: 938px;
  margin-left: auto;
  margin-right: auto;
}

body.page .site-main > .hentry > .post-thumbnail {
  margin-bottom: 3.125rem;
}

body.page .site-main > .hentry > .entry-content > *.alignwide {
  max-width: 1130px;
}

body.page .site-main > .hentry > .entry-content > *.alignfull {
  max-width: calc(100% + 25px + 25px);
  margin-left: -25px;
  margin-right: -25px;
}

body.page .site-main > .hentry > .entry-content > h1 {
  margin-bottom: .5em;
}

body.page .site-main > .hentry > .entry-content > h2 {
  margin-bottom: .5em;
}

body.page .site-main > .hentry > .entry-content > h3 {
  margin-bottom: .5em;
}

body.page .site-main > .hentry > .entry-content > h4 {
  margin-bottom: .5em;
}

body.page .site-main > .hentry > .entry-content > h5 {
  margin-bottom: .5em;
}

body.page .site-main > .hentry > .entry-content > h6 {
  margin-bottom: .5em;
}

body.blog .site-main > .page-header, body.search .site-main > .page-header, body.archive .site-main > .page-header {
  max-width: 938px;
  margin: 7.5rem auto 0;
}

body.blog .site-main > .page-header .page-title, body.search .site-main > .page-header .page-title, body.archive .site-main > .page-header .page-title {
  margin: 0;
  width: 100%;
  text-align: center;
}

body.blog .site-main > .page-header .page-title + .archive-description, body.search .site-main > .page-header .page-title + .archive-description, body.archive .site-main > .page-header .page-title + .archive-description {
  margin-top: 2.5rem;
}

body.blog .site-main > .page-header .archive-description, body.search .site-main > .page-header .archive-description, body.archive .site-main > .page-header .archive-description {
  font-style: italic;
  text-align: center;
}

body.blog .site-main > .hentry, body.search .site-main > .hentry, body.archive .site-main > .hentry {
  margin-top: 5.625rem;
  margin-bottom: 0;
  padding-bottom: calc(5.625rem + 8px);
  position: relative;
}

body.blog .site-main > .hentry:after, body.search .site-main > .hentry:after, body.archive .site-main > .hentry:after {
  content: '';
  position: absolute;
  bottom: 0;
  border-bottom: 8px dotted #f1f4f7;
  width: 100%;
  max-width: 938px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

body.blog .site-main > .hentry:last-of-type:after, body.search .site-main > .hentry:last-of-type:after, body.archive .site-main > .hentry:last-of-type:after {
  display: none;
}

body.blog .site-main > .hentry > .entry-header,
body.blog .site-main > .hentry > .entry-footer,
body.blog .site-main > .hentry > .post-thumbnail-wrapper,
body.blog .site-main > .hentry > .entry-content > *,
body.blog .site-main > .hentry > .entry-summary > *, body.search .site-main > .hentry > .entry-header,
body.search .site-main > .hentry > .entry-footer,
body.search .site-main > .hentry > .post-thumbnail-wrapper,
body.search .site-main > .hentry > .entry-content > *,
body.search .site-main > .hentry > .entry-summary > *, body.archive .site-main > .hentry > .entry-header,
body.archive .site-main > .hentry > .entry-footer,
body.archive .site-main > .hentry > .post-thumbnail-wrapper,
body.archive .site-main > .hentry > .entry-content > *,
body.archive .site-main > .hentry > .entry-summary > * {
  max-width: 938px;
  margin-left: auto;
  margin-right: auto;
}

body.blog .site-main > .hentry > .entry-content > *.alignleft, body.search .site-main > .hentry > .entry-content > *.alignleft, body.archive .site-main > .hentry > .entry-content > *.alignleft {
  margin-right: 1.5em;
}


body.blog .site-main > .hentry > .entry-content > *.alignright, body.search .site-main > .hentry > .entry-content > *.alignright, body.archive .site-main > .hentry > .entry-content > *.alignright {
  margin-left: 1.5em;
}


body.blog .site-main > .hentry > .entry-content > h1, body.search .site-main > .hentry > .entry-content > h1, body.archive .site-main > .hentry > .entry-content > h1 {
  margin-bottom: .5em;
}

body.blog .site-main > .hentry > .entry-content > h2, body.search .site-main > .hentry > .entry-content > h2, body.archive .site-main > .hentry > .entry-content > h2 {
  margin-bottom: .5em;
}

body.blog .site-main > .hentry > .entry-content > h3, body.search .site-main > .hentry > .entry-content > h3, body.archive .site-main > .hentry > .entry-content > h3 {
  margin-bottom: .5em;
}

body.blog .site-main > .hentry > .entry-content > h4, body.search .site-main > .hentry > .entry-content > h4, body.archive .site-main > .hentry > .entry-content > h4 {
  margin-bottom: .5em;
}

body.blog .site-main > .hentry > .entry-content > h5, body.search .site-main > .hentry > .entry-content > h5, body.archive .site-main > .hentry > .entry-content > h5 {
  margin-bottom: .5em;
}

body.blog .site-main > .hentry > .entry-content > h6, body.search .site-main > .hentry > .entry-content > h6, body.archive .site-main > .hentry > .entry-content > h6 {
  margin-bottom: .5em;
}

body.blog .site-main > .hentry .entry-header .entry-title, body.search .site-main > .hentry .entry-header .entry-title, body.archive .site-main > .hentry .entry-header .entry-title {
  font-size: 34px;
  font-size: 2.125rem;
}

body.blog .site-main > .hentry .entry-header .entry-title a, body.search .site-main > .hentry .entry-header .entry-title a, body.archive .site-main > .hentry .entry-header .entry-title a {
  color: inherit;
}

body.blog .site-main > .hentry .entry-header .entry-title a:hover, body.search .site-main > .hentry .entry-header .entry-title a:hover, body.archive .site-main > .hentry .entry-header .entry-title a:hover {
  color: #8f4ec7;
  text-decoration: none;
}

body.blog .site-main > .hentry .entry-header .entry-title a:focus, body.blog .site-main > .hentry .entry-header .entry-title a:active, body.search .site-main > .hentry .entry-header .entry-title a:focus, body.search .site-main > .hentry .entry-header .entry-title a:active, body.archive .site-main > .hentry .entry-header .entry-title a:focus, body.archive .site-main > .hentry .entry-header .entry-title a:active {
  text-decoration: none;
}

body.blog .site-main > .hentry:not(.has-post-thumbnail) .entry-header, body.search .site-main > .hentry:not(.has-post-thumbnail) .entry-header, body.archive .site-main > .hentry:not(.has-post-thumbnail) .entry-header {
  padding-right: 3.125rem;
  position: relative;
}

body.blog .site-main > .hentry:not(.has-post-thumbnail) .entry-header .sticky, body.search .site-main > .hentry:not(.has-post-thumbnail) .entry-header .sticky, body.archive .site-main > .hentry:not(.has-post-thumbnail) .entry-header .sticky {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 34px;
  font-size: 2.125rem;
}

body.single .site-main > .hentry > .entry-header, body.page .site-main > .hentry > .entry-header {
  max-width: 1130px;
  margin-top: 7.5rem;
}

body.single .site-main > .hentry > .entry-header .entry-title, body.page .site-main > .hentry > .entry-header .entry-title {
  width: 100%;
  max-width: 938px;
  margin: 0 auto 7.5rem;
  text-align: center;
}

body.single .site-main > .hentry > .entry-header .post-thumbnail, body.page .site-main > .hentry > .entry-header .post-thumbnail {
  margin-bottom: 3.75rem;
}

body.single .site-main > .hentry > .entry-header .entry-meta, body.page .site-main > .hentry > .entry-header .entry-meta {
  max-width: 748px;
  margin: 0 auto;
}

body .site-main > .error-404,
body .site-main > .no-results {
  max-width: 1130px;
  margin: 0 auto;
  text-align: center;
  padding: 10rem 0 5rem;
}



body .site-main > .error-404 .page-title,
body .site-main > .no-results .page-title {
  font-size: 80px;
  font-size: 5rem;
  margin-bottom: 0;
}



body .site-main > .error-404 .page-title .subtitle,
body .site-main > .no-results .page-title .subtitle {
  display: block;
  font-size: 33px;
  font-size: 2.0625rem;
}

body .site-main > .error-404 .page-header,
body .site-main > .no-results .page-header {
  margin-bottom: 6.25rem;
}

body .site-main > .error-404 .search-form,
body .site-main > .no-results .search-form {
  margin-bottom: 1.875rem;
}

body .site-main > .no-results .page-title {
  font-size: 60px;
  font-size: 3.75rem;
}

body.page-template-template-front-page .site-header {
  border-bottom: 0;
}

body.page-template-template-front-page .site-content {
  background: transparent;
}

body.page-template-template-front-page .site-main > .hentry > .entry-header {
  display: none;
}

body.page-template-template-front-page .site-main > .hentry > .post-thumbnail {
  display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comments-area {
  margin: 6.25rem auto 0;
  max-width: 1130px;
  padding-bottom: 6.25rem;
  border-bottom: 8px dotted #f1f4f7;
}

.comments-area .comments-title,
.comments-area .comment-reply-title {
  font-size: 28px;
  font-size: 1.75rem;
}

.comments-area .comments-title {
  margin-bottom: 3.75rem;
}

.comments-area .comment-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comments-area .comment-list + .comment-respond {
  margin-top: 6.25rem;
}

.comments-area .comment-list .children {
  list-style: none;
  padding-left: 2.5rem;
}

.comments-area .comment .comment-body {
  min-height: 200px;
}

.comments-area .comment .comment-body + .comment-respond {
  margin-top: 3.75rem;
}

.comments-area .comment,
.comments-area .pingback {
  margin-top: 1.875rem;
}

.comments-area .comment .comment-body,
.comments-area .pingback .comment-body {
  border: 2px solid #ebeef1;
  position: relative;
  padding: 1.25rem;
}



.comments-area .pingback .comment-body {
  padding-left: 3.125rem;
}

.comments-area .comment-author .avatar {
  border-radius: 50%;
  float: left;
  margin-right: 1.25rem;
}

.comments-area .comment-author .says {
  display: none;
}

.comments-area .comment-author .fn {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  color: #2c3847;
}



.comments-area .comment-author .fn a {
  color: inherit;
}

.comments-area .comment-author .fn a:hover, .comments-area .comment-author .fn a:focus, .comments-area .comment-author .fn a:active {
  text-decoration: none;
}

.comments-area .comment-metadata {
  font-size: 15px;
  font-size: 0.9375rem;
  color: #9ea6ac;
  font-style: italic;
}

.comments-area .comment-metadata a {
  color: inherit;
}

.comments-area .comment-metadata a:hover, .comments-area .comment-metadata a:focus, .comments-area .comment-metadata a:active {
  text-decoration: none;
}

.comments-area .comment-meta {
  margin-bottom: 1.25rem;
}

.comments-area .reply {
  margin-top: 1.875rem;
}

.comments-area .reply .comment-reply-link {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
  color: #64c0f4;
  font-size: 16px;
  font-size: 1rem;
}

.comments-area .reply .comment-reply-link:hover {
  color: #8f4ec7;
  text-decoration: none;
}

.comments-area .reply .comment-reply-link:focus, .comments-area .reply .comment-reply-link:active {
  text-decoration: none;
}

.comments-area .no-comments {
  margin-top: 3.75rem;
}

.comment-respond .comment-notes {
  font-size: 15px;
  font-size: 0.9375rem;
}
/*--------------------------------------------------------------
# Site Branding / Title
--------------------------------------------------------------*/
.site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.site-branding .custom-logo-link + .site-title {
  margin-left: .625rem;
}

.site-title {
  font-size: 27px;
  font-size: 1.6875rem;
  font-family: "PT Serif", serif;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}

.site-title a {
  color: #2c3847;
}

.site-title a:hover {
  text-decoration: none;
}

.site-title a:focus, .site-title a:active {
  text-decoration: none;
  outline: none;
}

.site-description {
  font-family: "Work Sans", sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  margin: 0;
  display: none;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

.site-header {
  max-width: 1920px;
  margin: 0 auto;
  padding: .875rem 2.5rem;
  border-bottom: 2px solid #f3f9fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header.has-custom-color .main-navigation,
.site-header.has-custom-color .search-toggle:not(:hover),
.site-header.has-custom-color .menu-toggle,
.site-header.has-custom-color .dropdown-toggle,
.site-header.has-custom-color .primary-menu-more-toggle {
  color: inherit;
}



.site-header.has-custom-background {
  border-color: transparent;
}
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}



.primary-menu-more {
  display: none;
}


.primary-menu-more .primary-menu-more-toggle {
  padding: 0;
  background: transparent;
  border: 0;
  color: inherit;
  height: 54px;
  width: 50px;
  font-size: 25px;
}

.primary-menu-more .primary-menu-more-toggle.is-empty {
  display: none;
}

.primary-menu-more .primary-menu-more-toggle svg {
  margin-top: 5px;
  width: 24px;
  height: 24px;
  fill: #2c3847;
}
/*--------------------------------------------------------------
# Search Toggle / Modal
--------------------------------------------------------------*/
.search-toggle {
  display: none;
  background: transparent;
  color: #7b838b;
  font-size: 20px;
  font-size: 1.25rem;
  padding: .5em;
  margin-left: 1.25rem;
}


.search-toggle:hover {
  background: transparent;
  color: #8f4ec7;
}

.search-modal {
  position: fixed;
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0;
  z-index: 15;
  padding: 95px;
  -webkit-transition: all .75s ease;
  -o-transition: all .75s ease;
  transition: all .75s ease;
}

.search-modal:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 50%;
  min-width: 0;
  min-height: 0;
  -webkit-transform: translateY(-50%) translateX(50%);
      -ms-transform: translateY(-50%) translateX(50%);
          transform: translateY(-50%) translateX(50%);
  background: rgba(242, 249, 253, 0.98);
  -webkit-transition: min-width .3s linear .5s, min-height .3s linear .5s, border-radius .3s linear .2s;
  -o-transition: min-width .3s linear .5s, min-height .3s linear .5s, border-radius .3s linear .2s;
  transition: min-width .3s linear .5s, min-height .3s linear .5s, border-radius .3s linear .2s;
}

.search-modal.opened {
  top: 0;
  bottom: 0;
}

.search-modal.opened:before {
  min-width: 200%;
  min-height: 200%;
  border-radius: 0;
  -webkit-transition: min-width .3s linear, min-height .3s linear, border-radius .3s linear .3s;
  -o-transition: min-width .3s linear, min-height .3s linear, border-radius .3s linear .3s;
  transition: min-width .3s linear, min-height .3s linear, border-radius .3s linear .3s;
}

.search-modal.opened .search-form-wrapper {
  opacity: 1;
  -webkit-transition: opacity 1s ease .5s;
  -o-transition: opacity 1s ease .5s;
  transition: opacity 1s ease .5s;
}

.search-modal .search-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.search-modal .search-form {
  border: 0;
  padding-left: 3.125rem;
}

.search-modal .search-form .search-submit {
  display: none;
}

.search-modal .search-form label {
  margin: 0;
}

.search-modal .search-form .search-field {
  background: transparent;
  border: 0;
  font-family: "Work Sans", sans-serif;
  color: #2c3847;
  padding: 0;
  line-height: 1.2;
  font-size: 52px;
  font-size: 3.25rem;
  text-align: center;
}

.search-modal .search-form .search-field:focus::-webkit-input-placeholder {
  opacity: .5;
}

.search-modal .search-form .search-field:focus::-moz-placeholder {
  opacity: .5;
}

.search-modal .search-form .search-field:focus::-ms-input-placeholder {
  opacity: .5;
}

.search-modal .search-form .search-field:focus::placeholder {
  opacity: .5;
}

.search-modal .search-form .search-field::-webkit-input-placeholder {
  opacity: 1;
}

.search-modal .search-form .search-field::-moz-placeholder {
  opacity: 1;
}

.search-modal .search-form .search-field::-ms-input-placeholder {
  opacity: 1;
}

.search-modal .search-form .search-field::placeholder {
  opacity: 1;
}

.close-search-modal {
  padding: 0;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  background: transparent;
  color: #2c3847;
  font-size: 28px;
  font-size: 1.75rem;
}

.close-search-modal:hover {
  background: transparent;
  color: #8f4ec7;
}

.search-form {
  position: relative;
  padding-right: 3.125rem;
  border: 2px solid #f3f9fd;
}

.search-form input {
  border: 0;
  width: 100%;
}

.search-form label {
  margin: 0;
  display: block;
}

.search-form .search-submit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3.125rem;
  padding: 0;
  background: #fff;
  border-radius: 0;
  color: inherit;
  font-size: 16px;
  font-size: 1rem;
}

.search-form .search-submit:hover {
  color: #8f4ec7;
}

.search-form .search-submit .lnr {
  display: block;
  margin-top: 3px;
}

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

.site-footer {
  margin-top: .625rem;
  padding: 3.125rem 25px;
}

.site-footer .site-info {
  text-align: center;
  font-style: italic;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #9ea6ac;
}

.has-custom-text-color .site-footer .site-info {
  color: inherit;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}



/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}
/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
// Located in partials > _blocks.scss
@import "../partials/blocks";

/*--------------------------------------------------------------
## Getwid Blocks
--------------------------------------------------------------*/
// Located in partials > _block.scss